.langs {
  display: flex;
  align-items: center;
}

.langs_btn {
  //height: 25px;
  width: auto;
  padding: 0 10px;
  background-color: #B2B7BF;
  font-family: Arial;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.22px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color .1s ease-in-out;
  &:hover {
    background-color: #1C1D1F;
  }
  
  &.__selected {
    pointer-events: none;
    background-color: #0D5CD1;
  }
  &:first-of-type {
    border-radius: 4px 0px 0px 4px;
    margin-right: 3px;
  }
  &:last-of-type {
    border-radius: 0px 4px 4px 0px;
    margin-left: 3px;
  }
  
}
