<div class="wrap">
  <div class="label">{{label}}</div>
  <div class="content">
    <div class="inputBackground" [ngClass]="{'__over': hover}" *ngIf="!src"></div>
    <div class="img" *ngIf="src">
      <img [src]="src | safeUrl" alt="image">
    </div>
    <div class="label_wrap" [ngStyle]="{
  width: width,
  height: height
  }" [class.__toggle]="src">
      <label class="input"> <input title="" type="file" (click)="clear()" (change)="getPhoto($event, imageOptions)" (dragenter)="hover = true" (dragleave)="hover = false" #inputEl/> </label>
    </div>

    <div class="tip" [class.__toggle]="src">{{src ? 'Изменить' : 'Загрузить'}}</div>
  </div>
  <div class="error" *ngIf="error">{{error}}</div>
</div>
