:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.box {
  position: relative;
  overflow: hidden;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top_right {
  flex: 1;
  justify-content: flex-end;
  .selectDpdwn {
    width: 200px;
    height: 35px;
    
    app-dropdown-autocomplete {
      height: 35px;
    }
    ::ng-deep {
      input, .choice {
        background: #F9F9FA;
        border-radius: 4px;
        //overflow: hidden;
        height: 35px;
        //display: flex;
        //align-items: center;
        width: 200px;
        position: relative;
        box-shadow: none;
        &:hover {
          box-shadow: none;
          background: #F3F3F5;
        }
      }
    }
  }
}

.inp {
  margin-left: 20px;
  
}

.content {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 54px;
  .container {
    flex-direction: column;
    max-width: none;
    position: relative;
    padding-right: 20px;
    overflow: hidden;
    padding-bottom: 20px;
  }
  .table {
    max-width: 1440px;
    position: relative;
    height: auto;
    //padding-bottom: 40px;
    //margin-bottom: 40px;
  }
}

//.article {
//  width: 100%;
//  margin-bottom: 20px;
//  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
//  transition: box-shadow .2s ease-in-out;
//
//  &:hover {
//    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
//  }
//
//  &:last-of-type {
//    margin-bottom: 0;
//  }
//}
//
//.article_content {
//  display: flex;
//  align-items: center;
//  width: 100%;
//  height: 70px;
//  cursor: pointer;
//  position: relative;
//  background: #FFFFFF;
//  border-radius: 4px;
//
//  .article_cell {
//    display: flex;
//    align-items: center;
//  }
//}
//
.cell_data {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  .head {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.24px;
    color: #313233;
    margin-bottom: 6px;
  }
  .tag {
    font-family: Arial;
    font-size: 14px;
    letter-spacing: 0.21px;
    color: #B4BDC9;
  }
}

.svg-clock {
  width: 16px;
  height: 16px;
  fill: #9CA8B8;
  margin-right: 10px;
}

.sort_item, .table_row-cell {
  //max-width: 260px;
  flex: 1;
  overflow: hidden;
  
  &:first-of-type {
    max-width: none;
    min-width: 300px;
    padding-left: 20px;
    height: 100%;
    padding-right: 26px;
    
    .img {
      border-radius: 4px 0 0 4px;
      width: 173px;
      height: 70px;
      margin-right: 20px;
      
      img {
        height: 100%;
      }
    }
  }
  .__grey {
    font-family: Arial;
    font-size: 14px;
    letter-spacing: 0.21px;
    color: #B4BDC9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
  }
  &:nth-of-type(2) {
    max-width: 280px;
    min-width: 280px;
    padding-right: 15px;
    
  }
  &:nth-of-type(3) {
    max-width: 250px;
    min-width: 250px;
    padding-right: 10px;
  }
  
}

.sort_item {
  &:first-of-type {
    align-items: center;
    //padding-left: 193px;
  }
  &:nth-of-type(2) {
    pointer-events: none;
    
  }
}




