<div class="box">
  <div class="top">
    <div class="container">
      <div class="top_left">
        <h1>Компромат</h1>
        <a href="" routerLink="/compromat/add" class="__topBtn">Создать</a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="sorts">
      <div class="sorts_list">
        <div class="sort_item" *ngFor="let sort of sortList">
          <div class="sort_item-btn" (click)="setOrder(sort)" [class.__reverse]="sort.reverse">
            <svg class="svg-arrow-long" *ngIf="sort.value !== 'author'">
              <use xlink:href="/assets/img/sprite.svg#arrow-long" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <span>{{sort.text}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container" [perfectScrollbar]="{}">
      <div class="table">
        <div class="table_row" *ngFor="let compromat of compromats | paginate: { itemsPerPage: pagginationOptions.itemsPerPage, currentPage: filterParams.page, totalItems: pagginationOptions.total} ; let i = index">
          <div class="table_row-conent" (click)="edit(compromat, $event)">
            <div class="table_row-cell">
              <span class="head">{{compromat.title}}</span>
            </div>
            <div class="table_row-cell __n">
              <div class="img">
                <img [src]="compromat.person_photo" alt="">
              </div>
              <span class="__grey">{{compromat.person_name}}</span>
            </div>
            <div class="table_row-cell __n">
              <svg class="svg-clock">
                <use xlink:href="/assets/img/sprite.svg#clock" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
              <span class="__grey">{{date_s.convert(compromat.pub_time)}}</span>
            </div>
          </div>
          <app-basket-dropdown [item]="compromat" (itemOut)="_common.dropdownVisibility($event, compromats)" (delete)="deleteArticle($event)"></app-basket-dropdown>
        </div>
      </div>
      <pagination-controls (pageChange)="changePageHandler($event)" directionLinks="false" autoHide="true"></pagination-controls>
    </div>
  </div>
</div>

