
@import "libs/_blank";
/*
================================================================================
|                                     reset                                     |
================================================================================
*/
@import "libs/_reset";
/*
================================================================================
|                                     Fonts                                    |
================================================================================
*/
//@import "libs/_fonts";

/*
================================================================================
|                                     Start rools                              |
================================================================================
*/



.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

body {
	margin: 0 auto;
	// scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	position: relative;
	-webkit-overflow-scrolling: touch;
	height: 100%;
  overflow: hidden;
}


//.content {
//	flex: 1;
//	display: flex;
//}

//.page {
//	flex: 1;
//	display: flex;
//	flex-direction: column;
//}

//.page_content {
//	display: flex;
//	flex: 1;
//}

//.page-map {
//	display: flex;
//}

.container {
	padding: 0 16px;
}

section {
	width: 100%;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

//@import "content/templates/header";
//@import "content/templates/leftWiget";
//@import "content/templates/menu";
//@import "content/templates/subMenu";
//@import "content/pages/map/map";
//@import "content/pages/map/mapWiget";
