header {
//border-top: 2px solid #016699;
	height: 52px;
	display: flex;
	align-items: center;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.27);
	background-color: #016699;
	
	.container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
	}
	
	.menuBtn_box {
		margin: 0 23px 0 8px;
	}
	
	.menuBtn {
		padding: 3px;
		line-height: 0;
		font-size: 0;
	}
	
	
	.icon-svg-menuBtn {
		width: 18px;
		height: 12px;
		fill: #ffffff;
	}
	
	.notifBtn_box {
		margin: 0 0 0 auto;
	}
	.notifBtn {
		position: relative;
		line-height: 0;
		padding: 3px;
		margin-right: 9px;
	}
	
	.icon-svg-notif {
		width: 16px;
		height: 20px;
		fill: #ffffff;
	}
	
	.notifCount {
		position: absolute;
		right: -5px;
		top: -5px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: #e63636;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 0;
		font-size: 0;
		
		span {
			color: #ffffff;
			@extend %OsSB;
			font-size: 8px;
			font-weight: 600;
			line-height: 1;
			word-spacing: 0;
			letter-spacing: 0;
		}
	}
}