//.leftWiget {
//	width: 334px;
//	transition: transform .15s linear;
//	will-change: transform;
//	display: flex;
//	position: absolute;
//	left: 0;
//	top: 0;
//	bottom: 0;
//	z-index: 100;
//	background-color: white;
//	transform: translate3d(0,0,0);
//
//	&.hide {
//		//width: 50px;
//		transform: translate3d(-250px,0,0);
//
//		.leftWiget_btn {
//			svg {
//				transform: rotate(0);
//			}
//		}
//	}
//
//	.leftWiget_content {
//		flex: 1;
//		border-right: 1px solid #016699;
//		overflow: hidden;
//		overflow-y: auto;
//	}
//
//	.leftWiget_btn {
//		display: flex;
//		align-items: center;
//		justify-content: center;
//		background-color: #f2f2f2;
//		width: 15px;
//		cursor: pointer;
//
//		svg {
//			width: 7px;
//			height: 12px;
//			fill: #016699;
//			transform: rotate(180deg);
//		}
//	}
//
//	.devices {
//		padding: 13px 12px 13px 16px;
//		display: flex;
//		justify-content: space-between;
//		align-items: center;
//		border-bottom: 1px solid #f5f5f5;
//	}
//
//	.devices_label {
//		color: #555555;
//		@extend %OsSB;
//		font-size: 14px;
//	}
//
//	.devices_btns {
//		display: flex;
//		align-items: center;
//
//		button {
//			padding: 4px;
//			margin: 0 4px;
//			line-height: 0;
//			font-size: 0;
//		}
//
//		svg {
//			fill: #c0c0c0;
//		}
//
//		.icon-svg-addCategory {
//			width: 20px;
//			height: 16px;
//		}
//		.icon-svg-addSingle {
//			width: 20px;
//			height: 20px;
//		}
//	}
//
//	.devicesCategory_head {
//		display: flex;
//		justify-content: space-between;
//		align-items: center;
//		padding: 0 16px;
//		height: 41px;
//		border-bottom: 1px solid #f5f5f5;
//		cursor: pointer;
//		.devicesCategory_head-label {
//			color: #555555;
//			@extend %OsR;
//			font-size: 14px;
//			white-space: nowrap;
//			overflow: hidden;
//			text-overflow: ellipsis;
//			flex: 1;
//			margin-right: 15px;
//		}
//		.devicesCategory_head-icon {
//			svg {
//				width: 12px;
//				height: 9px;
//				fill: #c0c0c0;
//				transform: rotate(0);
//			}
//
//			&.rotate {
//				transform: rotate(90deg);
//			}
//		}
//	}
//
//	.devicesCategory_content {
//		padding: 16px;
//		border-bottom: 1px solid #f3f3f3;
//		display: none;
//	}
//
//
//	.devicesCategory_item {
//		position: relative;
//		height: 98px;
//		border-radius: 4px;
//		border: 1px solid #f3f3f3;
//		padding: 16px;
//		margin-bottom: 8px;
//		cursor: pointer;
//
//		&.active {
//			background-color: #eff5f8;
//			border-color: #eff5f8;
//		}
//
//		&:last-of-type{
//			margin-bottom: 0;
//		}
//	}
//
//	.devicesCategory_item-pin {
//		position: absolute;
//		left: 8px;
//		top: 8px;
//		width: 8px;
//		height: 8px;
//		background-color: red;
//		border-radius: 50%;
//	}
//
//	.devicesCategory_item-top {
//		display: flex;
//		align-items: center;
//		margin-bottom: 12px;
//	}
//
//	.devicesCategory_item-img {
//		max-width: 40px;
//		height: 40px;
//		display: flex;
//		align-items: center;
//		justify-content: center;
//		overflow: hidden;
//		border-radius: 50%;
//		margin-right: 10px;
//		flex: 1 0 auto;
//	}
//
//	.devicesCategory_item-info {
//		overflow: hidden;
//	}
//
//	.devicesCategory_item-name, .devicesCategory_item-date {
//		display: flex;
//		align-items: center;
//
//
//	}
//
//	.devicesCategory_item-name {
//		margin-bottom: 6px;
//
//		.icon-lock {
//			width: 11px;
//			height: 14px;
//			background-image: url(/img/lock.svg);
//			margin-right: 6px;
//
//			&.unlock {
//				background-image: url(/img/unlock.svg);
//			}
//		}
//
//
//		span {
//			color: #30302e;
//			@extend %OsSB;
//			font-size: 14px;
//			white-space: nowrap;
//			overflow: hidden;
//			text-overflow: ellipsis;
//			flex: 1;
//		}
//	}
//
//	.devicesCategory_item-date {
//		span {
//			color: #c0c0c0;
//			@extend %OsSB;
//			font-size: 13px;
//		}
//
//		svg {
//			margin-right: 6px;
//		}
//	}
//
//	.icon-svg-lock {
//		width: 11px;
//		height: 14px;
//		fill: rgba(19, 162, 16, 0.54);
//	}
//	.icon-svg-clock {
//		width: 13px;
//		height: 13px;
//		fill: #c0c0c0;
//	}
//
//	.checkbox {
//		display: flex;
//		align-items: center;
//		cursor: pointer;
//	}
//
//	.checkbox_icon {
//		width: 14px;
//		height: 14px;
//		background-image: url(/img/unchecked.svg);
//		margin-right: 6px;
//
//		&.checked {
//			background-image: url(/img/checked.svg);
//		}
//	}
//
//	.checkbox_label {
//		color: #2e383e;
//		@extend %OsR;
//		font-size: 13px;
//	}
//
//}
