//.menu {
//	position: relative;
//	display: flex;
//	height: 50px;
//	border-bottom: 1px solid #e7e7e7;
//
//	.menu_item {
//		position: relative;
//		display: flex;
//		align-items: center;
//		padding: 0 17px;
//		height: 100%;
//		&.active {
//			svg {
//				fill: #016699;
//			}
//			span {
//				color: #016699;
//			}
//
//			&:after {
//				display: block;
//				height: 2px;
//				content: '';
//				position: absolute;
//				left: 0;
//				right: 0;
//				bottom: -1px;
//				background-color: #016699;
//			}
//		}
//
//		svg {
//			fill: #727272;
//			margin-right: 10px;
//		}
//
//		span {
//			color: #727272;
//			@extend %OsSB;
//			font-size: 14px;
//		}
//
//		.icon-svg-map {
//			width: 14px;
//			height: 14px;
//		}
//		.icon-svg-settings {
//			width: 15px;
//			height: 15px;
//		}
//		.icon-svg-report {
//			width: 15px;
//			height: 12px;
//		}
//		.icon-svg-info {
//			width: 15px;
//			height: 15px;
//		}
//
//	}
//}
