<div class="box">
  <a href="" routerLink="/" class="logo">
<!--    <svg class="svg-logo">-->
<!--      <use xlink:href="#logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
<!--    </svg>-->
  </a>
  <div class="menu" [perfectScrollbar]="{}">
    <!--<a href="" class="menu_item" appTooltip  *ngFor="let item of menu" routerLink="{{item.href}}" routerLinkActive="__selected">-->
    <a href="" class="menu_item" appTooltip [tooltipTitle]="item.title" *ngFor="let item of menu" routerLink="{{item.href}}" routerLinkActive="__selected">
      <svg class="svg-logo" [ngStyle]="{
      width: item.w,
      height: item.h
      }">
        <use [attr.xlink:href]="'/assets/img/sprite.svg#' + item.icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>
  </div>
<!--  <div class="profile">-->
<!--    <button class="logout" (click)="logout()">-->
<!--      <svg class="svg-logout">-->
<!--        <use xlink:href="#logout" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
<!--      </svg>-->
<!--    </button>-->
<!--    <a href="" class="user" [routerLink]="['/authors', user.id]">-->
<!--      <img [src]="user.avatar" alt="">-->
<!--    </a>-->
<!--  </div>-->
</div>
