.box {
  width: 60px;
  display: flex;
  flex-direction: column;
  background-color: #0D5CD1;
  height: 100%;
  
  .profile {
    margin: auto auto 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px!important;
    
    &:hover {
      svg {
        opacity: 1;
      }
    }
    .svg-logout {
      width: 16px;
      height: 20px;
      fill: #fff;
      opacity: .7;
    }
  }
  
  .user {
    width: 37px;
    height: 37px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .logo {
    width: 100%;
    width: 60px;
    height: 60px;
    background-color: #1C1D1F;
    //background-color: #fff;
    line-height: 0;
    svg {
      width: 60px;
      height: 60px;
      fill: #1C1D1F;
    }
  }
  
  .menu {
    position: relative;
    margin: 15px 0 45px;
    flex: 1;
    overflow: hidden;
    
    ::ng-deep {
      .ps__rail-y {
        opacity: 1!important;
        background-color: transparent!important;
      }
      .ps__thumb-y {
        opacity: 1!important;
        width: 3px !important;
        right: 0;
        background-color: #1C1D1F;
      }
      
    }
  }
  
  .menu_item {
    width: 100%;
    height: 45px;
    margin-bottom: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:last-of-type {
      margin-bottom: 0;
    }
  
    &:hover {
      svg {
        opacity: 1;
      }
    }
    &.__selected {
      //pointer-events: none;
      &:before {
        display: block;
      }
      svg {
        opacity: 1;
      }
    }
    
    &:before {
      display: none;
      content: '';
      width: 45px;
      height: 45px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
      border-radius: 50%;
      background-color: #0F53B5;
    }
    
    svg {
      z-index: 1;
      fill: #fff;
      opacity: .7;
    }
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

::ng-deep .mat-tooltip {
  /* your own custom styles here */
  /* e.g. */
  margin-top: -10px!important;
  margin-left: 40px!important;
  font-size: 12px!important;
}
