.box {
  padding-bottom: 30px;
}

.art_row {
  display: flex;
  align-items: flex-start;
  //justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
  
  &:last-of-type {
    margin-bottom: 0;
  }
  
  &.__photos {
    app-input-file-img {
      &:first-of-type {
        margin-right: 40px;
        width: 460px;
      }
      &:last-of-type {
        margin-right: 40px;
        width: 460px;
      }
      
    }
    
  }
  
  &.__ID {
    flex-direction: column;
    width: 100%;
    
    .inp_wrap {
      position: relative;
      width: 100%;
      margin-bottom: 26px;
      //margin-right: 0;
      //display: flex;
      //align-items: center;
      //flex-direction: row;
      //margin-bottom: 10px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    
    .similar_dropdown {
      margin-top: 3px;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #fff;
      border-radius: 4px;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transition: opacity .1s ease-in-out, visibility .1s ease-in-out;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
      z-index: 20;
      margin-bottom: 30px;
      
      &.__show {
        opacity: 1;
        visibility: visible;
      }
      
      .similar_dropdown-list {
        position: relative;
        max-height: 245px;
      }
      
      .similar_dropdown-list_item {
        padding: 0 20px;
        display: flex;
        align-items: center;
        font-family: Arial;
        font-size: 16px;
        letter-spacing: 0.4px;
        color: #2B3033;
        height: 35px;
        transition: background-color .15s ease-in-out, color .15s ease-in-out;
        cursor: pointer;
        
        &:hover {
          background-color: #F3F3F5;
        }
        
        &.__selected {
          background-color: #F3F3F5;
          color: #0D5CD1;
        }
      }
    }
    
    input {
      width: 100%;
      //margin-right: 36px;
    }
    
    .similar_list-item {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      
      &:last-of-type {
        margin-bottom: 0;
      }
      
      span {
        font-family: Arial;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.26px;
        color: #1C1D1F;
      }
      
      svg {
        width: 22px;
        height: 22px;
        fill: #B2B7BF;
        margin-left: 8px;
        cursor: pointer;
        padding: 5px;
        
        &:hover {
          fill: #1C1D1F;
        }
      }
    }
  }
  
}

.textarea {
  width: 100%;
  
  .label {
    margin-bottom: 0;
  }
  
  .inp_wrap-textarea {
    margin-right: 0;
    position: relative;
    
    textarea {
      resize: none;
      height: 90px;
      padding: 14px 20px;
    }
    
    &:focus-within {
      
      & ~ .inp_top .label span {
        color: #0D5CD1;
      }
    }
  }
  
  .inp_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
    
  }
}

.inp_wrap, .textarea {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin-right: 38px;
  
  .publish_time {
    font-family: Arial;
    font-size: 17px;
    letter-spacing: 0.26px;
    color: #797C80;
  }
  
  &.__260 {
    width: 260px;
  }
  
  &:last-of-type {
    margin-right: 0;
  }
  
  &.__time {
    width: 120px;
  }
  
  &.__color {
    z-index: 11;
  }
  
  &.__hide {
    display: none;
  }
  
  &.__linkUrl {
    width: 260px;
  }
  
  &.__tags {
    z-index: 10;
    flex: 1;
    position: relative;
    
    input {
      display: none;
      padding-left: 50px;
      
      &.__show {
        display: block;
      }
    }
  }
  
  &.__datepick {
    
    .__datepick-wrap {
      cursor: pointer;
    }
    width: 130px;
    margin-right: 20px;
    
    input {
      pointer-events: none;
    }
  }
  
  .inp_duo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    input, textarea {
      width: 55px;
      height: 45px;
      padding: 0 15px;
      line-height: 45px;
    }
  }
  
  input[type='number'] {
    -moz-appearance: textfield;
    text-align: center;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  input, textarea, .tags_top {
    background: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    color: #2B3033;
    font-size: 17px;
    letter-spacing: 0.26px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
    transition: box-shadow .2s ease-in-out;
    resize: none;
    
    &:hover, &:focus {
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
    }
    
    &:focus ~ .label {
      color: #0D5CD1;
    }
    
  }
  
  .addNewTag {
    position: absolute;
    left: 12px;
    //top: 50%;
    //transform: translateY(-50%);
    bottom: 10px;
    width: 25px;
    height: 25px;
    padding: 0;
    z-index: 10;
    
    &:before, &:after {
      display: block;
      content: '';
      width: 9px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
    }
    
    &:before {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    
    &:after {
      transform: translate(-50%, -50%);
    }
    
  }
  
  .tags_top {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 20px 0 50px;
    
    &.__hide {
      display: none;
    }
  }
  
  .tags_dropdown {
    margin-top: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity .1s ease-in-out, visibility .1s ease-in-out;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
    z-index: 20;
    
    &.__show {
      opacity: 1;
      visibility: visible;
    }
    
    .tags_dropdown-list {
      position: relative;
      max-height: 245px;
    }
    
    .tags_dropdown-list_item {
      padding: 0 20px 0 50px;
      display: flex;
      align-items: center;
      font-family: Arial;
      font-size: 16px;
      letter-spacing: 0.4px;
      color: #2B3033;
      height: 35px;
      transition: background-color .15s ease-in-out, color .15s ease-in-out;
      cursor: pointer;
      
      &:hover {
        background-color: #F3F3F5;
      }
      
      &.__selected {
        background-color: #F3F3F5;
        color: #0D5CD1;
      }
    }
  }
  
  .tags_list {
    display: flex;
    align-items: center;
  }
  
  .tags_list-item {
    display: flex;
    align-items: center;
    margin-right: 18px;
    
    span {
      font-family: Arial;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: 0.26px;
      color: #1C1D1F;
    }
    
    svg {
      width: 22px;
      height: 22px;
      fill: #B2B7BF;
      margin-left: 8px;
      cursor: pointer;
      padding: 5px;
      
      &:hover {
        fill: #1C1D1F;
      }
    }
    
    &:last-of-type {
      margin-right: 0;
    }
  }
  
  mat-datepicker-toggle {
    position: absolute;
    bottom: 22px;
    right: 0;
    transform: translateY(19px);
  }
  
  ::ng-deep {
    .mat-datepicker-toggle-active {
      color: #0D5CD1;
    }
  }
}

.label {
  font-family: Arial;
  font-size: 15px;
  letter-spacing: 0.22px;
  color: #797C80;
  //margin-bottom: 10px;
  padding-left: 22px;
  margin-bottom: 9px;
  white-space: nowrap;
  
  &.__switch {
    padding-left: 0;
    margin-bottom: 18px;
  }
}

.preview {
  position: relative;
  padding-top: 28px;
  
  ::ng-deep {
    iframe {
      width: 100%;
    }
  }
}

.preview_video {
  position: relative;
  padding-top: 28px;
  //::ng-deep {
  video {
    width: 100%;
  }
  
  &:hover {
    .delete {
      opacity: 1;
    }
  }
  
  .delete {
    position: absolute;
    right: 10px;
    top: 38px;
    padding: 10px;
    opacity: 0;
    z-index: 2;
    transition: opacity .15s ease-in-out;
    cursor: pointer;
  }
  
  .svg-basket {
    width: 15px;
    height: 15px;
    fill: #B4BDC9;
  }
  
  //}
}

.error {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 100%;
  margin-top: 5px;
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 0.2px;
  color: #FF001E;
  //display: none;
}

.art_row-left {
  position: relative;
  min-width: 460px;
  max-width: 460px;
  
  .cover_tabs {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }
}

.art_row-right {
  padding-left: 40px;
  max-width: 560px;
  flex: 1;
  
  .inp_wrap_sel {
    &:focus-within {
      & ~ .inp_top .label {
        color: #0D5CD1;
      }
    }
  }
  
  .inp_wrap {
    margin-right: 0;
    margin-bottom: 26px;
    
    &.__hide {
      display: none;
    }
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  
  .inp_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
    
    .label {
      margin-bottom: 0;
    }
  }
  
  ::ng-deep {
    .select_wrap {
      width: 100%;
      //margin-bottom: 26px;
    }
    
    .select_top {
      width: 100% !important;
    }
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B4BDC9;
  font-family: Arial;
  font-size: 17px;
  letter-spacing: 0.22px;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #B4BDC9;
  font-family: Arial;
  font-size: 17px;
  letter-spacing: 0.22px;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #B4BDC9;
  font-family: Arial;
  font-size: 17px;
  letter-spacing: 0.22px;
}

:-moz-placeholder { /* Firefox 18- */
  color: #B4BDC9;
  font-family: Arial;
  font-size: 17px;
  letter-spacing: 0.22px;
}
