<div class="box">

  <div class="art_row">

    <div class="inp_wrap __datepick">
      <div class="__datepick-wrap" (click)="picker.open()">
        <input matInput [matDatepicker]="picker" [(ngModel)]="timeValues.date" (dateInput)="_common.clearField('date', errors)" placeholder="12/12/2018">
      </div>
      <mat-datepicker #picker></mat-datepicker>
      <div class="label">Дата/время публикации</div>
      <div class="error" *ngIf="errors.date">{{errors.date}}</div>
    </div>
    <div class="inp_wrap __time">
      <div class="inp_duo">
        <input type='number' name="hours" placeholder="15" [(ngModel)]="timeValues.hours" (input)="checkTime($event, timeValues.hours, 23)" (click)="timeValues.hours = ''"/>
        <input type="number" name="minutes" placeholder="00" [(ngModel)]="timeValues.minutes" (input)="checkTime($event, timeValues.minutes, 59)"  (click)="timeValues.minutes = ''"/>
      </div>
      <div class="label">&nbsp;</div>
    </div>
    <div class="inp_wrap __260">
      <app-dropdown-autocomplete (newValue)="compromat.person_id = $event.id; errors.person_id = null" [value]="compromat.person_id ? {name: compromat.person_name, id: compromat.person_id} : null" [placeholder]="'Персона'" [url]="'/person/search'"></app-dropdown-autocomplete>
      <div class="label">Про кого</div>
      <div class="error" *ngIf="errors.author_id">{{errors.author_id}}</div>
    </div>
  </div>
  <div class="art_row" *ngIf="!compromat.is_link">
    <div class="textarea">
      <div class="inp_wrap-textarea" *ngFor="let input of compromatTitle" [hidden]="!input.selected">
        <textarea name="message" [(ngModel)]="compromat[input.value]" (input)="_common.textareaHandler($event, input); _common.clearField(input.value, errors)" [maxlength]="140"></textarea>
        <div class="error" *ngIf="errors.hasOwnProperty(input.value)">{{errors[input.value]}}</div>
      </div>
      <div class="inp_top">
        <div class="label" *ngFor="let label of compromatTitle" [hidden]="!label.selected"><span>Заголовок:</span> {{_common.getValueCount(compromat[label.value])}}/140</div>
        <app-langs-panel [langs]="compromatTitle" (newLangs)="compromatTitle = $event"></app-langs-panel>
      </div>
    </div>
  </div>

</div>


