.row_sidebar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  .row_sidebar-btn {
    position: relative;
    //height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: opacity .1s ease-in-out, visibility .1s ease-in-out;
    //transition-delay: .22s;
    &.__hide {
      opacity: 0;
      visibility: hidden;
      //transition-delay: .01ms;
    }
    
    &:hover {
      &:before, &:after, .row_sidebar-btn_point {
        background-color: #1C1D1F;
      }
    }
    
    &:before, &:after {
      display: block;
      content: '';
    }
    &:before, &:after, .row_sidebar-btn_point {
      display: block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #B4BDC9;
      transition: background-color .15s ease-in-out;
    }
    
  }
  .row_sidebar-btn_point {
    margin: 3px 0;
  }
  
  .svg-basket {
    width: 15px;
    height: 15px;
  }
  .svg-cross {
    width: 10px;
    height: 10px;
  }
  
  .svg-cross, .svg-basket {
    fill: #B4BDC9;
    transition: fill .1s ease-in-out;
  }
  
  .row_sidebar-hidden_btn {
    padding: 7px;
    cursor: pointer;
    &:hover {
      svg {
        fill: #1C1D1F;
      }
    }
  }
  .row_sidebar-hidden {
    position: absolute;
    right: 9px;
    top: 50%;
    display: flex;
    align-items: center;
    transform: translateY(-50%);
    //max-width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity .1s ease-in-out, visibility .1s ease-in-out;
    //transition-delay: .1s;
    &.__show {
      //max-width: 55px;
      opacity: 1;
      visibility: visible;
      //transition-delay: .01ms;
    }
  }
  
}
