<div class="row_sidebar">
  <!--<div class="row_sidebar-hidden_btn" (click)="deleteItem(item)">-->
    <!--<svg class="svg-basket">-->
      <!--<use xlink:href="#basket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
    <!--</svg>-->
  <!--</div>-->
  <div class="row_sidebar-btn" (click)="dropdownVisibility(item)" [class.__hide]="item.dropdown">
    <div class="row_sidebar-btn_point"></div>
  </div>
  <div class="row_sidebar-hidden" [class.__show]="item.dropdown">
    <div class="row_sidebar-hidden_btn" (click)="deleteItem(item)">
      <svg class="svg-basket">
        <use xlink:href="/assets/img/sprite.svg#basket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
    <div class="row_sidebar-hidden_btn" (click)="item.dropdown = false">
      <svg class="svg-cross">
        <use xlink:href="/assets/img/sprite.svg#cross" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
  </div>


</div>
