.wrap {
  position: relative;
}

.label {
  padding-left: 20px;
  margin-bottom: 10px;
  font-family: Arial;
  font-size: 15px;
  letter-spacing: 0.22px;
  color: #797C80;
}

.content {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  
  &:hover {
    .tip {
      &.__toggle {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.inputBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #B2B7BF;
  z-index: 1;
  &.__over {
    background-color: #979CA6;
  }
}

.img {
  line-height: 0;
  //position: absolute;
  //left: 0;
  //top: 0;
  //width: 100%;
  //height: 100%;
  //z-index: 2;
  
  img {
    width: 100%;
  }
}

.error {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 100%;
  margin-top: 5px;
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 0.2px;
  color: #FF001E;
}

.tip {
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.38px;
  color: #2B3033;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;;
  z-index: 9;
  
  &.__toggle {
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    opacity: 0;
    visibility: hidden;
  }
}

input {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

