<div class="wrap">
  <div class="label">{{label}}</div>
  <div class="content">
    <div class="inputBackground" [ngClass]="{'__over': hover}" *ngIf="!base64"></div>
    <div class="img" *ngIf="base64">
      <img [src]="base64 | safeUrl" alt="image">
    </div>

    <div class="label_wrap" *ngIf="!base64" [ngStyle]="{
  width: width + 'px',
  height: height + 'px'
  }">

    </div>
    <label class="input">
      <input title="" type="file" (click)="clear()" (change)="getPhoto($event, imageOptions)" (dragenter)="hover = true" (dragleave)="hover = false" #inputEl/>
    </label>

    <div class="tip" [class.__toggle]="base64" *ngIf="size !== ''">{{base64 ? 'Изменить' : 'Загрузить'}}</div>
    <!--<div class="tip" [class.__toggle]="base64" *ngIf="size !== ''">{{base64 ? 'Изменить' : 'Загрузить'}}<br>{{size}}</div>-->
  </div>
  <div class="error" *ngIf="error">{{error}}</div>
</div>
