<image-cropper
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="options.maintainAspectRatio"
  [aspectRatio]="options.aspectRatio"
  [resizeToWidth]="0"
  [cropperMinWidth]="options.minWidth"
  [imageQuality]="100"
  [format]="options.type"
  (imageCropped)="imageCropped($event)"
></image-cropper>
<div class="btns">
  <div class="btn" (click)="close()">Отмена</div>
  <div class="btn __topBtn" (click)="apply()">Применить</div>
</div>
