:host {
  position: fixed;
  left: 60px;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  background-color: #1C1D1F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

::ng-deep {
  image-cropper {
    max-width: 80vh;
    
    div.cropper {
      //outline: #1C1D1F;
      outline-color: rgba(28, 29, 31, .9) !important;
      
      &:after {
        
        //pointer-events: none;
        border: 3px solid #0D5CD1 !important;
        
      }
      
    }
    .resize-bar {
      //color:red!important;
      //border: 5px solid red!important;
    }
    
    .cropper .resize {
      opacity: 0 !important;
    }
    
    .top {
      
      background-color: transparent !important;
    }
    
  }
}

.btns {
  display: flex;
  align-items: center;
  margin-top: 28px;
}

.btn {
  font-family: Arial;
  font-size: 17px;
  letter-spacing: 0.26px;
  color: #B2B7BF;
  margin: 0 10px;
  cursor: pointer;
  height: 35px;
  display: flex;
  align-items: center;
  &:hover {
    color: #fff;
  }
  
  &.__topBtn {
    color: #fff;
    background-color: #B2B7BF!important;
  }
  
  
}
