label.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #B4BDC9;
    transition: .4s;
    
    &.__active {
      background: #B4BDC9!important;
    }
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    //bottom: 4px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #23CE59;
  }
  
  input:focus + .slider {
    //box-shadow: 0 0 1px #23CE59;
  }
  
  input:checked + .slider:before {
    transform: translateX(7px) translateY(-50%);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 15px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
}
