.__topBtn {
  position: relative;
  
  &.__spinner {
    pointer-events: none!important;
    background-color: #B2B7BF;
    .spinner {
      opacity: 1;
    }
    span {
      opacity: 0;
    }
  }
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}

.bubbles {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.bubble {
  display: inline-block;
  padding: 0px 5px;
  
  @for $i from 1 to 4 {
    &:nth-of-type(#{$i}) .circle {
      animation-delay: $i * 0.2s;
    }
  }
}

.bubble .circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  transform: scale(0);
  animation: pulse .8s infinite;
  //box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.2);
    opacity: 0.75;
  }
  100% {
    transform: scale(1);
  }
}
