<div class="__topBtn" (click)="spinnerShow()" [class.__spinner]="isLoad">
  <span>{{text}}</span>
  <div class="spinner">
    <div class="bubbles">
      <div class="bubble">
        <div class="circle"></div>
      </div>
      <div class="bubble">
        <div class="circle"></div>
      </div>
      <div class="bubble">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
