<div class="box">
  <input type="text" (clickOutside)="list = []"
         [autocomplete]="false"
         name="newSearch"
         (click)="search()"
         [class.__hide]="choise && choise.hasOwnProperty('id')"
         [(ngModel)]="value"
         [placeholder]="placeholder"
         (input)="search()"/>
  <div class="choice" [class.__show]="choise && choise.hasOwnProperty('id')">
    <div class="choice_item">
    <span *ngIf="choise && choise.hasOwnProperty('id')">
      <ng-container *ngIf="choise.title">{{choise.title}}</ng-container>
      <ng-container *ngIf="choise.name">{{choise.name}}</ng-container>
    </span>
      <svg class="svg-cross" (click)="delete()">
        <use xlink:href="/assets/img/sprite.svg#cross" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </div>
  </div>
  <div class="dropdown">
    <div class="list" [perfectScrollbar]="{wheelPropagation: false}">
      <div class="item" *ngFor="let item of list" (click)="addChoice(item)">
        <span *ngIf="item.name">{{item.name}}</span>
        <span *ngIf="item.title">{{item.title}}</span>

      </div>
    </div>
  </div>
</div>



