.modal_wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .1);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
  &.__show {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  border-radius: 4px;
  background-color: #F9F9FA;
  padding: 30px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
}

.head {
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.3px;
  color: #1C1D1F;
  margin-bottom: 16px;
}

.inp_wrap {
  display: flex;
  flex-direction: column-reverse;
  
  textarea {
    width: 340px;
    height: 180px;
    background : #1C1D1F;
    border-radius : 4px;
    font-family : Arial;
    font-size : 17px;
    letter-spacing : 0.26px;
    color : #FFFFFF;
    padding: 16px 20px;
  }
  
}

.inp_wrap-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 28px;
}

.btn {
  font-family: Arial;
  font-size: 17px;
  letter-spacing: 0.26px;
  color: #B2B7BF;
  margin: 0 10px;
  cursor: pointer;
  height: 35px;
  display: flex;
  align-items: center;
  &:hover {
    color: #1C1D1F;
  }
  
  &.__topBtn {
    color: #fff;
  }
}
