<div class="modal_wrap" [class.__show]="isOpen">
  <div class="modal">
    <div class="inp_wrap">
      <div class="inp __inp1">
        <textarea [(ngModel)]="tooltip" (input)="errors.tooltip = ''"></textarea>
        <div class="error" *ngIf="errors.hasOwnProperty('tooltip') && errors.tooltip !== ''">{{errors.tooltip}}</div>
      </div>
      <div class="inp_wrap-top">
        <div class="label">Определение (расшифровка)</div>
      </div>
    </div>
    <div class="btns">
      <div class="btn" (click)="close()">Отмена</div>
      <div class="btn __topBtn" (click)="apply()">Добавить</div>
    </div>
  </div>
</div>
