@mixin font-face($fontName) {
	font-family: $fontName;
	src: url("/assets/fonts/" + $fontName + "/" + $fontName + ".eot");
	src: url("/assets/fonts/" + $fontName + "/" + $fontName + ".eot?#iefix") format('embedded-opentype'),
	url("/assets/fonts/" + $fontName + "/" + $fontName + ".woff2") format('woff2'),
	url("/assets/fonts/" + $fontName + "/" + $fontName + ".woff") format('woff'),
	url("/assets/fonts/" + $fontName + "/" + $fontName + ".ttf") format('truetype'),
	url("/assets/fonts/" + $fontName + "/" + $fontName + ".svg#") format('svg');
}

@font-face { @include font-face("SFProDisplay-Bold"); }
@font-face { @include font-face("SFProDisplay-Heavy"); }
@font-face { @include font-face("SFProDisplay-Regular"); }

%dR {
	font-family: 'SFProDisplay-Regular';
	font-weight: normal;
	font-style: normal;
}

%dH {
	font-family: 'SFProDisplay-Heavy';
	font-weight: 900;
	font-style: normal;
}

%dB {
	font-family: 'SFProDisplay-Bold';
	font-weight: bold;
	font-style: normal;
}

