// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$alarm-1-name: 'alarm-1';
$alarm-1-x: 0px;
$alarm-1-y: 52px;
$alarm-1-offset-x: 0px;
$alarm-1-offset-y: -52px;
$alarm-1-width: 10px;
$alarm-1-height: 12px;
$alarm-1-total-width: 73px;
$alarm-1-total-height: 64px;
$alarm-1-image: '/assets/img/sprite.png';
$alarm-1: (0px, 52px, 0px, -52px, 10px, 12px, 73px, 64px, '/assets/img/sprite.png', 'alarm-1', );
$alarm-2-name: 'alarm-2';
$alarm-2-x: 44px;
$alarm-2-y: 40px;
$alarm-2-offset-x: -44px;
$alarm-2-offset-y: -40px;
$alarm-2-width: 10px;
$alarm-2-height: 12px;
$alarm-2-total-width: 73px;
$alarm-2-total-height: 64px;
$alarm-2-image: '/assets/img/sprite.png';
$alarm-2: (44px, 40px, -44px, -40px, 10px, 12px, 73px, 64px, '/assets/img/sprite.png', 'alarm-2', );
$alarm-3-name: 'alarm-3';
$alarm-3-x: 54px;
$alarm-3-y: 12px;
$alarm-3-offset-x: -54px;
$alarm-3-offset-y: -12px;
$alarm-3-width: 13px;
$alarm-3-height: 14px;
$alarm-3-total-width: 73px;
$alarm-3-total-height: 64px;
$alarm-3-image: '/assets/img/sprite.png';
$alarm-3: (54px, 12px, -54px, -12px, 13px, 14px, 73px, 64px, '/assets/img/sprite.png', 'alarm-3', );
$charge-1-name: 'charge-1';
$charge-1-x: 22px;
$charge-1-y: 14px;
$charge-1-offset-x: -22px;
$charge-1-offset-y: -14px;
$charge-1-width: 24px;
$charge-1-height: 12px;
$charge-1-total-width: 73px;
$charge-1-total-height: 64px;
$charge-1-image: '/assets/img/sprite.png';
$charge-1: (22px, 14px, -22px, -14px, 24px, 12px, 73px, 64px, '/assets/img/sprite.png', 'charge-1', );
$charge-2-name: 'charge-2';
$charge-2-x: 0px;
$charge-2-y: 28px;
$charge-2-offset-x: 0px;
$charge-2-offset-y: -28px;
$charge-2-width: 24px;
$charge-2-height: 12px;
$charge-2-total-width: 73px;
$charge-2-total-height: 64px;
$charge-2-image: '/assets/img/sprite.png';
$charge-2: (0px, 28px, 0px, -28px, 24px, 12px, 73px, 64px, '/assets/img/sprite.png', 'charge-2', );
$charge-3-name: 'charge-3';
$charge-3-x: 0px;
$charge-3-y: 0px;
$charge-3-offset-x: 0px;
$charge-3-offset-y: 0px;
$charge-3-width: 27px;
$charge-3-height: 14px;
$charge-3-total-width: 73px;
$charge-3-total-height: 64px;
$charge-3-image: '/assets/img/sprite.png';
$charge-3: (0px, 0px, 0px, 0px, 27px, 14px, 73px, 64px, '/assets/img/sprite.png', 'charge-3', );
$located-name: 'located';
$located-x: 54px;
$located-y: 39px;
$located-offset-x: -54px;
$located-offset-y: -39px;
$located-width: 12px;
$located-height: 12px;
$located-total-width: 73px;
$located-total-height: 64px;
$located-image: '/assets/img/sprite.png';
$located: (54px, 39px, -54px, -39px, 12px, 12px, 73px, 64px, '/assets/img/sprite.png', 'located', );
$lock-1-name: 'lock-1';
$lock-1-x: 10px;
$lock-1-y: 52px;
$lock-1-offset-x: -10px;
$lock-1-offset-y: -52px;
$lock-1-width: 9px;
$lock-1-height: 12px;
$lock-1-total-width: 73px;
$lock-1-total-height: 64px;
$lock-1-image: '/assets/img/sprite.png';
$lock-1: (10px, 52px, -10px, -52px, 9px, 12px, 73px, 64px, '/assets/img/sprite.png', 'lock-1', );
$lock-2-name: 'lock-2';
$lock-2-x: 19px;
$lock-2-y: 52px;
$lock-2-offset-x: -19px;
$lock-2-offset-y: -52px;
$lock-2-width: 9px;
$lock-2-height: 12px;
$lock-2-total-width: 73px;
$lock-2-total-height: 64px;
$lock-2-image: '/assets/img/sprite.png';
$lock-2: (19px, 52px, -19px, -52px, 9px, 12px, 73px, 64px, '/assets/img/sprite.png', 'lock-2', );
$lock-3-name: 'lock-3';
$lock-3-x: 54px;
$lock-3-y: 26px;
$lock-3-offset-x: -54px;
$lock-3-offset-y: -26px;
$lock-3-width: 12px;
$lock-3-height: 13px;
$lock-3-total-width: 73px;
$lock-3-total-height: 64px;
$lock-3-image: '/assets/img/sprite.png';
$lock-3: (54px, 26px, -54px, -26px, 12px, 13px, 73px, 64px, '/assets/img/sprite.png', 'lock-3', );
$power-1-name: 'power-1';
$power-1-x: 0px;
$power-1-y: 40px;
$power-1-offset-x: 0px;
$power-1-offset-y: -40px;
$power-1-width: 24px;
$power-1-height: 12px;
$power-1-total-width: 73px;
$power-1-total-height: 64px;
$power-1-image: '/assets/img/sprite.png';
$power-1: (0px, 40px, 0px, -40px, 24px, 12px, 73px, 64px, '/assets/img/sprite.png', 'power-1', );
$power-2-name: 'power-2';
$power-2-x: 24px;
$power-2-y: 28px;
$power-2-offset-x: -24px;
$power-2-offset-y: -28px;
$power-2-width: 24px;
$power-2-height: 12px;
$power-2-total-width: 73px;
$power-2-total-height: 64px;
$power-2-image: '/assets/img/sprite.png';
$power-2: (24px, 28px, -24px, -28px, 24px, 12px, 73px, 64px, '/assets/img/sprite.png', 'power-2', );
$power-3-name: 'power-3';
$power-3-x: 27px;
$power-3-y: 0px;
$power-3-offset-x: -27px;
$power-3-offset-y: 0px;
$power-3-width: 27px;
$power-3-height: 14px;
$power-3-total-width: 73px;
$power-3-total-height: 64px;
$power-3-image: '/assets/img/sprite.png';
$power-3: (27px, 0px, -27px, 0px, 27px, 14px, 73px, 64px, '/assets/img/sprite.png', 'power-3', );
$speed-1-name: 'speed-1';
$speed-1-x: 24px;
$speed-1-y: 40px;
$speed-1-offset-x: -24px;
$speed-1-offset-y: -40px;
$speed-1-width: 20px;
$speed-1-height: 12px;
$speed-1-total-width: 73px;
$speed-1-total-height: 64px;
$speed-1-image: '/assets/img/sprite.png';
$speed-1: (24px, 40px, -24px, -40px, 20px, 12px, 73px, 64px, '/assets/img/sprite.png', 'speed-1', );
$speed-2-name: 'speed-2';
$speed-2-x: 54px;
$speed-2-y: 0px;
$speed-2-offset-x: -54px;
$speed-2-offset-y: 0px;
$speed-2-width: 19px;
$speed-2-height: 12px;
$speed-2-total-width: 73px;
$speed-2-total-height: 64px;
$speed-2-image: '/assets/img/sprite.png';
$speed-2: (54px, 0px, -54px, 0px, 19px, 12px, 73px, 64px, '/assets/img/sprite.png', 'speed-2', );
$speed-3-name: 'speed-3';
$speed-3-x: 0px;
$speed-3-y: 14px;
$speed-3-offset-x: 0px;
$speed-3-offset-y: -14px;
$speed-3-width: 22px;
$speed-3-height: 14px;
$speed-3-total-width: 73px;
$speed-3-total-height: 64px;
$speed-3-image: '/assets/img/sprite.png';
$speed-3: (0px, 14px, 0px, -14px, 22px, 14px, 73px, 64px, '/assets/img/sprite.png', 'speed-3', );
$spritesheet-width: 73px;
$spritesheet-height: 64px;
$spritesheet-image: '/assets/img/sprite.png';
$spritesheet-sprites: ($alarm-1, $alarm-2, $alarm-3, $charge-1, $charge-2, $charge-3, $located, $lock-1, $lock-2, $lock-3, $power-1, $power-2, $power-3, $speed-1, $speed-2, $speed-3, );
$spritesheet: (73px, 64px, '/assets/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
