.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-long {
	font-size:(8.17/10)*1rem;
	width:(8.18/8.17)*1em;
}
.icon-arrow-order {
	font-size:(9.62/10)*1rem;
	width:(16.41/9.62)*1em;
}
.icon-basket {
	font-size:(15/10)*1rem;
	width:(15.16/15)*1em;
}
.icon-clock {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-compromat {
	font-size:(17/10)*1rem;
	width:(16.56/17)*1em;
}
.icon-controls-1 {
	font-size:(15/10)*1rem;
	width:(11.99/15)*1em;
}
.icon-controls-2 {
	font-size:(15/10)*1rem;
	width:(11.92/15)*1em;
}
.icon-controls-3 {
	font-size:(13.75/10)*1rem;
	width:(15/13.75)*1em;
}
.icon-controls-4 {
	font-size:(15/10)*1rem;
	width:(13.01/15)*1em;
}
.icon-controls-5 {
	font-size:(15/10)*1rem;
	width:(11.66/15)*1em;
}
.icon-cross {
	font-size:(11.41/10)*1rem;
	width:(11.41/11.41)*1em;
}
.icon-search {
	font-size:(16.71/10)*1rem;
	width:(16.71/16.71)*1em;
}
.icon-user {
	font-size:(21.66/10)*1rem;
	width:(20/21.66)*1em;
}
