/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-alarm-1 {
  background-image: url(sprite.png);
  background-position: -48px -13px;
  width: 10px;
  height: 12px;
}
.icon-alarm-2 {
  background-image: url(sprite.png);
  background-position: -19px -24px;
  width: 10px;
  height: 12px;
}
.icon-charge-1 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 24px;
  height: 12px;
}
.icon-charge-2 {
  background-image: url(sprite.png);
  background-position: 0px -12px;
  width: 24px;
  height: 12px;
}
.icon-charge-3 {
  background-image: url(sprite.png);
  background-position: -24px 0px;
  width: 24px;
  height: 12px;
}
.icon-lock-1 {
  background-image: url(sprite.png);
  background-position: -29px -24px;
  width: 9px;
  height: 12px;
}
.icon-lock-2 {
  background-image: url(sprite.png);
  background-position: -38px -24px;
  width: 9px;
  height: 12px;
}
.icon-lock-3 {
  background-image: url(sprite.png);
  background-position: -48px 0px;
  width: 12px;
  height: 13px;
}
.icon-speed-1 {
  background-image: url(sprite.png);
  background-position: -24px -12px;
  width: 20px;
  height: 12px;
}
.icon-speed-2 {
  background-image: url(sprite.png);
  background-position: 0px -24px;
  width: 19px;
  height: 12px;
}
