:host {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  height: 45px;
}

input, .choice {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 0 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
  transition: box-shadow .2s ease-in-out;
  
  color: #2B3033;
  font-size: 17px;
  letter-spacing: 0.26px;
  
  &.__hide {
    display: none;
  }
  &.__show {
    display: flex;
  }
  
  
  &:hover, &:focus {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  }
}

.choice {
  display: none;
  width: 100%;
  
}

.time {
  display: inline-block;
  margin-right: 15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B4BDC9;
  font-family: Arial;
  font-size: 17px;
  letter-spacing: 0.22px;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #B4BDC9;
  font-family: Arial;
  font-size: 17px;
  letter-spacing: 0.22px;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #B4BDC9;
  font-family: Arial;
  font-size: 17px;
  letter-spacing: 0.22px;
}

:-moz-placeholder { /* Firefox 18- */
  color: #B4BDC9;
  font-family: Arial;
  font-size: 17px;
  letter-spacing: 0.22px;
}



.choice_item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  span {
    font-family: Arial;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.26px;
    color: #1C1D1F;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }
  svg {
    width: 22px;
    height: 22px;
    fill: #B2B7BF;
    margin-left: 8px;
    cursor: pointer;
    padding: 5px;
    &:hover {
      fill: #1C1D1F;
    }
  }
}

.dropdown {
  margin-top: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: opacity .1s ease-in-out, visibility .1s ease-in-out;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  z-index: 20;
  margin-bottom: 30px;
}

.list {
  position: relative;
  max-height: 245px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.state_label {
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-family: Arial;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #B2B7BF;
  height: 35px;
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
  cursor: default;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.town {
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-family: Arial;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #2B3033;
  height: 35px;
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
  cursor: pointer;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  & > span {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &:hover {
    background-color: #F3F3F5;
  }
  
  &.__selected {
    background-color: #F3F3F5;
    color: #0D5CD1;
  }
}
