<input type="text" (clickOutside)="list = []" (click)="search()" [class.__hide]="choise && choise.hasOwnProperty('id')" [(ngModel)]="value" [placeholder]="placeholder" (input)="search()"/>
<div class="choice" [class.__show]="choise && choise.hasOwnProperty('id')">
  <div class="choice_item">

    <span *ngIf="choise">
      {{choise.name}}
    </span>


    <svg class="svg-cross" (click)="delete()">
      <use xlink:href="/assets/img/sprite.svg#cross" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </div>
</div>
<div class="dropdown">
  <div class="list" [perfectScrollbar]="{wheelPropagation: false}">
    <div class="state" *ngFor="let item of list">
      <div class="state_label">{{item.name}}</div>
      <div class="town_list" ngfor>
        <div class="town" *ngFor="let town of item.cities" (click)="addChoice(town)">{{town.name}}</div>
      </div>

    </div>
  </div>
</div>


