<div [class]="'select_wrap __' + style" (clickOutside)="onClickedOutside($event)">
  <div class="select_top" (click)="isOpen = !isOpen" [ngStyle]="{
  height: height + 'px',
  width: width + 'px'
  }">
    <span *ngIf="!topValue">{{placeholder}}</span> <span *ngIf="topValue" class="__current">{{topValue}}</span>
    <svg class="svg-arrow-short" [class.__rotate]="isOpen">
      <use xlink:href="#arrow-short" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </div>
  <div class="select_dropdown" [class.__show]="isOpen">
    <div class="select_dropdown-list" [perfectScrollbar]="{}">
      <div class="select_dropdown-item" *ngFor="let option of selectOptions" [class.__selected]="option.selected" (click)="selectHandler(option)">{{option.text}}</div>
    </div>
  </div>
</div>
