.select_wrap {
  position: relative;
  display: inline-block;
  
  &.__1 {
    .select_top {
      background-color: #fff;
      span {
        font-size: 17px;
      }
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
      transition: box-shadow .2s ease-in-out;
  
      &:hover{
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
      }
    }
  }
  &.__2 {
    .select_top {
      background-color: #F9F9FA;
transition: background-color .1s ease-in-out;
      span {
        font-size: 15px;
      }
      
      &:hover {
        background-color: #F3F3F5;
      }
    }
  }
  
}

.select_top {
  height: 100%;
  border-radius: 4px;
  position: relative;
  padding-left: 22px;
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    font-family: Arial;
    letter-spacing: 0.26px;
    color: #B2B7BF;
    
    &.__current {
      color: #2B3033;
    }
  }
  
  svg {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -2.25px;
    width: 9px;
    height: 4.5px;
    fill: #B4BDC9;
    transition: transform .15s ease-in-out;
    &.__rotate {
      transform: rotate(180deg);
    }
  }
}

.select_dropdown {
  max-height: 245px;
  position: absolute;
  top: 100%;
  margin-top: 2px;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity .1s ease-in-out, visibility .1s ease-in-out;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  z-index: 1;
  &.__show {
    opacity: 1;
    visibility: visible;
  }
}

.select_dropdown-list {
  max-height: 245px;
  position: relative;
}

.select_dropdown-item {
  padding: 0 22px;
  height: 35px;
  font-family: Arial;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #2B3033;
  cursor: pointer;
  transition: background-color .1s ease-in-out, color .1s ease-in-out;
  display: flex;
  align-items: center;
  
  &.__selected {
    color: #0D5CD1;
    background-color: #F3F3F5;
  }
  
  &:hover {
    background-color: #F3F3F5;
  }
}
