.textarea {
  width: 100%;
  margin-bottom: 26px;
  
  .label {
    margin-bottom: 0;
  }
  
  .inp_wrap-textarea {
    margin-right: 0;
    position: relative;
    textarea {
      resize: none;
      //height: 90px;
      padding: 14px 20px;
    }
    
    &:focus-within {
      
      & ~ .inp_top .label span {
        color: #0D5CD1;
      }
    }
  }
  .inp_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
    
  }
}

.inp_wrap, .textarea {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin-right: 38px;
  
  &:last-of-type {
    margin-right: 0;
  }
  
  &.__time {
    width: 120px;
  }
  &.__color {
    z-index: 11;
  }
  
  &.__hide {
    display: none;
  }
  
  &.__linkUrl {
    width: 260px;
  }
  
  &.__tags {
    z-index: 10;
    flex: 1;
    position: relative;
    input {
      display: none;
      &.__show {
        display: block;
      }
    }
  }
  
  &.__datepick {
    width: 210px;
  }
  
  .inp_duo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    input, textarea {
      //width: 55px;
      height: 70px;
      padding: 0 15px;
      line-height: 45px;
    }
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  input, textarea, .tags_top {
    background: #FFFFFF;
    border-radius: 4px;
    //width: 100%;
    width: 100%;
    //height: 45px;
    min-height: 66px;
    padding: 0 20px;
    color: #2B3033;
    font-size: 17px;
    letter-spacing: 0.26px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
    transition: box-shadow .2s ease-in-out;
    resize: none;
    &:hover, &:focus {
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
    }
    &:focus ~ .label {
      color: #0D5CD1;
    }
    
  }
  .tags_top {
    display: flex;
    align-items: center;
    position: relative;
    
    .addNewTag {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      padding: 0;
      
      &:before, &:after {
        display: block;
        content: '';
        width: 7px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
      }
      &:before {
        transform: translate(-50%, -50%) rotate(90deg);
      }
      &:after {
        transform: translate(-50%, -50%);
      }
      
    }
    &.__hide {
      display: none;
    }
  }
  .tags_dropdown {
    margin-top: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity .1s ease-in-out, visibility .1s ease-in-out;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
    z-index: 20;
    &.__show {
      opacity: 1;
      visibility: visible;
    }
    
    .tags_dropdown-list {
      position: relative;
      max-height: 245px;
    }
    .tags_dropdown-list_item {
      padding: 0 20px;
      display: flex;
      align-items: center;
      font-family: Arial;
      font-size: 16px;
      letter-spacing: 0.4px;
      color: #2B3033;
      height: 35px;
      transition: background-color .15s ease-in-out, color .15s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: #F3F3F5;
      }
      
      &.__selected {
        background-color: #F3F3F5;
        color: #0D5CD1;
      }
    }
  }
  .tags_list {
    display: flex;
    align-items: center;
  }
  .tags_list-item {
    display: flex;
    align-items: center;
    margin-right: 18px;
    span {
      font-family: Arial;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: 0.26px;
      color: #1C1D1F;
    }
    svg {
      width: 22px;
      height: 22px;
      fill: #B2B7BF;
      margin-left: 8px;
      cursor: pointer;
      padding: 5px;
      &:hover {
        fill: #1C1D1F;
      }
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  mat-datepicker-toggle {
    position: absolute;
    bottom: 22px;
    right: 0;
    transform: translateY(19px);
  }
  
  ::ng-deep {
    .mat-datepicker-toggle-active {
      color: #0D5CD1;
    }
  }
}
app-input-file-img {
  display: block;
  width: 404px;
}

.label {
  font-family: Arial;
  font-size: 15px;
  letter-spacing: 0.22px;
  color: #797C80;
  //margin-bottom: 10px;
  padding-left: 22px;
  margin-bottom: 9px;
  
  &.__switch {
    padding-left: 0;
    margin-bottom: 18px;
  }
}

.error {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 100%;
  margin-top: 5px;
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 0.2px;
  color: #FF001E;
  //display: none;
}
