<div class="box">
  <div class="textarea">
    <div class="inp_wrap-textarea" *ngFor="let input of seoTitle" [hidden]="!input.selected">
      <textarea autosize name="message" [(ngModel)]="seo[input.value]" (input)="_common.textareaHandler($event, input); _common.clearField(input.value, errors)" [maxlength]="140"></textarea>
      <div class="error" *ngIf="errors.hasOwnProperty(input.value)">{{errors[input.value]}}</div>
    </div>
    <div class="inp_top">
      <div class="label" *ngFor="let label of seoTitle" [hidden]="!label.selected"><span>Title:</span> {{_common.getValueCount(seo[label.value])}}/140</div>
      <app-langs-panel [langs]="seoTitle" (newLangs)="seoTitle = $event"></app-langs-panel>
    </div>
  </div>
  <div class="textarea">
    <div class="inp_wrap-textarea" *ngFor="let input of descriptions" [hidden]="!input.selected">
      <textarea autosize name="message" [(ngModel)]="seo[input.value]" (input)="_common.textareaHandler($event, input); _common.clearField(input.value, errors)" [maxlength]="300"></textarea>
      <div class="error" *ngIf="errors.hasOwnProperty(input.value)">{{errors[input.value]}}</div>
    </div>
    <div class="inp_top">
      <div class="label" *ngFor="let label of descriptions" [hidden]="!label.selected"><span>Description:</span> {{_common.getValueCount(seo[label.value])}}/300</div>
      <app-langs-panel [langs]="descriptions" (newLangs)="descriptions = $event"></app-langs-panel>
    </div>
  </div>

  <div class="textarea">
    <div class="inp_wrap-textarea" *ngFor="let input of keywords" [hidden]="!input.selected">
      <textarea autosize name="message" [(ngModel)]="seo[input.value]" (input)="_common.textareaHandler($event, input); _common.clearField(input.value, errors)" [maxlength]="200"></textarea>
      <div class="error" *ngIf="errors.hasOwnProperty(input.value)">{{errors[input.value]}}</div>
    </div>
    <div class="inp_top">
      <div class="label" *ngFor="let label of keywords" [hidden]="!label.selected"><span>Keywords:</span> {{_common.getValueCount(seo[label.value])}}/200</div>
      <app-langs-panel [langs]="keywords" (newLangs)="keywords = $event"></app-langs-panel>
    </div>
  </div>
  <app-input-file-img [size]="'min. 1200х630px'" [label]="'Facebook Share Cover'" [error]="errors['fb_cover']" [base64]="seo.fb_cover" [width]="404" [height]="212" [imageOptions]="photoOptions" (cropIsOpen)="cropIsOpen = $event" (cropImg)="cropImg = $event" (cropOptions)="cropOptions = $event"></app-input-file-img>
</div>
<div [hidden]="!cropIsOpen">
  <app-crop-image [imageChangedEvent]="cropImg" [options]="cropOptions" [cropIsOpen]="cropIsOpen" (closeModal)="cropIsOpen = false" (applyCrop)="seo.fb_cover = $event"></app-crop-image>
</div>
