<div class="colors_wrap" (clickOutside)="isOpen = false">
  <div class="colors_top" (click)="isOpen = !isOpen">
    <div class="current_color" [style.background]="color" [class.__border]="color === '#FFFFFF'"></div>
    <svg class="svg-arrow-short" [class.__rotate]="isOpen">
      <use xlink:href="#arrow-short" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </div>
  <div class="colors_dropdown" [class.__show]="isOpen">
    <div class="colors_dropdown-item" *ngFor="let item of colors" [class.__current]="item.current" (click)="changeColor(item)">
      <div class="colors_dropdown-item_circle" [style.background]="item.color"></div>
    </div>
  </div>
</div>
