.colors_wrap {
  position: relative;
}

.colors_top {
  width: 55px;
  display: flex;
  align-items: center;
  cursor: pointer;
  .current_color {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 9px;
  }
  
  svg {
    width: 9px;
    height: 4.5px;
    transition: transform .15s ease-in-out;
    
    &.__rotate {
      transform: rotate(180deg);
    }
  }
}

.colors_dropdown {
  //max-height: 245px;
  position: absolute;
  top: 100%;
  margin-top: 2px;
  left: -8px;
  right: 8px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity .1s ease-in-out, visibility .1s ease-in-out;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  z-index: 1;
  .colors_dropdown-item {
    height: 35px;
    width: 100%;
    cursor: pointer;
    padding: 0 8px;
    display: flex;
    align-items: center;
    
    &:hover, &.__current {
      background-color: #EDF0F2;
    }
  }
  
  .colors_dropdown-item_circle {
    width: 18px;
    height: 18px;
    overflow: hidden;
    border-radius: 50%;
  }
  &.__show {
    opacity: 1;
    visibility: visible;
  }
}
