<div class="box">
  <div class="list" dnd-sortable-container [sortableData]="compromat.blocks">
    <div class="list_item" *ngFor="let item of compromat.blocks | sort; let i = index">
      <div class="bgBox" (onDragEnd)="changeOrderDrag()" dnd-sortable [sortableIndex]="i"></div>
      <!--TYPE 1 TYPE 1 TYPE 1 TYPE 1 TYPE 1 TYPE 1 TYPE 1 TYPE 1 -->
      <div class="list_item-content __type-1" *ngIf="item.type === 1">
        <div class="textarea_wrap">
          <div class="textarea_wrap-top">
            <div class="top_left">
              <div class="label">Подзаголовок (H2)</div>
            </div>
            <div class="top_right">
              <app-langs-panel [langs]="item.langs" (newLangs)="item.langs = $event"></app-langs-panel>
            </div>
          </div>
          <div class="textarea_input-wrap" *ngFor="let textarea of item.langs">
            <textarea autosize [hidden]="!textarea.selected" class="textarea notranslate __size" [(ngModel)]="item[textarea.value]" (input)="item.errors[textarea.value] = null"></textarea>
            <div class="error" [hidden]="!textarea.selected" *ngIf="item.errors.hasOwnProperty(textarea.value)">{{item.errors[textarea.value]}}</div>
          </div>
        </div>
      </div>

      <!--TYPE 2 TYPE 2 TYPE 2 TYPE 2 TYPE 2 TYPE 2 TYPE 2 TYPE 2 TYPE 2 TYPE 2  -->
      <div class="list_item-content __type-2" *ngIf="item.type === 2">
        <div class="textarea_wrap">
          <div class="textarea_wrap-top">
            <div class="label">Текстовый блок</div>
            <app-langs-panel [langs]="item.langs" (newLangs)="item.langs = $event"></app-langs-panel>
          </div>
          <div class="textarea_input-wrap" *ngFor="let textarea of item.langs" [hidden]="!textarea.selected">
            <editor [class]="'textarea notranslate __reset __'" (input)="item.errors[textarea.value] = null" [init]="editorOptions" [(ngModel)]="item[textarea.value]"></editor>
<!--            <editor [class]="'textarea notranslate __reset __' + article.color_type" (input)="item.errors[textarea.value] = null" [init]="editorOptions" [(ngModel)]="item[textarea.value]"></editor>-->
            <div class="error" [hidden]="!textarea.selected" *ngIf="item.errors.hasOwnProperty(textarea.value)">{{item.errors[textarea.value]}}</div>
          </div>
        </div>
      </div>

      <!--TYPE 3  TYPE 3  TYPE 3  TYPE 3  TYPE 3  TYPE 3  TYPE 3  TYPE 3  TYPE 3  TYPE 3  TYPE 3   -->
      <div class="list_item-content __type-9" *ngIf="item.type === 3">
        <app-input-file-img (click)="currentItem = item;" [size]="'min. 320х320px'" [label]="'Фото'" [error]="item.errors['img']" [base64]="item.img" [width]="600" [height]="360" [imageOptions]="item.photoOptions" (cropIsOpen)="cropIsOpen = $event" (cropImg)="cropImg = $event; fastImg($event, item)" (cropOptions)="cropOptions = $event"></app-input-file-img>
        <div class="inp_wrap">
          <div class="inp_wrap-top">
            <div class="label">Подпись фото</div>
            <app-langs-panel [langs]="item.langs" (newLangs)="item.langs = $event"></app-langs-panel>
          </div>
          <div class="inp __inp1" *ngFor="let input of item.langs" [hidden]="!input.selected">
            <input type="text" class="notranslate" [(ngModel)]="item[input.value]"/>
            <div class="error" *ngIf="item.errors.hasOwnProperty(input.value)">{{item.errors[input.value]}}</div>
          </div>
        </div>
      </div>

      <!--TYPE 4 TYPE 4 TYPE 4 TYPE 4 TYPE 4 TYPE 4 TYPE 4 TYPE 4 TYPE 4 TYPE 4 TYPE 4 TYPE 4 TYPE 4 TYPE 4 TYPE 4 TYPE 4    -->
      <div class="list_item-content __type-17" *ngIf="item.type === 4">
        <!--<span>OP</span>-->
        <span class="isDownload" *ngIf="item.isDownload">{{item.isDownloadText}}</span>
        <div class="video_preview" *ngIf="item.video">
          <!--<span >OP</span>-->
          <video controls>
            <source [src]="item.video" type="video/mp4">
          </video>
          <div class="delete" (click)="deleteVideo(item)">
            <svg class="svg-basket">
              <use xlink:href="/assets/img/sprite.svg#basket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
        <app-input-file-img *ngIf="!item.video && !item.isDownload" (click)="currentItem = item;" [size]="'макс. 100Mb'" [label]="'Видео'" [error]="item.errors['image']" [base64]="item.image" [width]="600" [height]="360" [imageOptions]="item.photoOptions" (cropIsOpen)="cropIsOpen = $event" (cropImg)="uploadVideo($event, item)" (cropOptions)="cropOptions = $event"></app-input-file-img>
        <div class="inp_wrap">
          <div class="inp_wrap-top">
            <div class="label">Подпись видео</div>
            <app-langs-panel [langs]="item.langs" (newLangs)="item.langs = $event"></app-langs-panel>
          </div>
          <div class="inp __inp1" *ngFor="let input of item.langs" [hidden]="!input.selected">
            <input type="text" class="notranslate" [(ngModel)]="item[input.value]"/>
            <div class="error" *ngIf="item.errors.hasOwnProperty(input.value)">{{item.errors[input.value]}}</div>
          </div>
        </div>
      </div>

      <!--TYPE 5 TYPE 5 TYPE 5 TYPE 5 TYPE 5 TYPE 5 TYPE 5 TYPE 5 TYPE 5 TYPE 5 TYPE 5 TYPE 5 TYPE 5     -->
      <div class="list_item-content __type-5" *ngIf="item.type === 5">
        <!--<span>OP</span>-->
        <span class="isDownload" *ngIf="item.isDownload">{{item.isDownloadText}}</span>
        <div class="video_preview" *ngIf="item.audio">
          <!--<span >OP</span>-->
<!--          <video controls>-->
<!--            <source [src]="item.video" type="video/mp4">-->
<!--          </video>-->
          <audio controls>
            <source [src]="item.audio" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
          <div class="delete" (click)="deleteAudio(item)">
            <svg class="svg-basket">
              <use xlink:href="/assets/img/sprite.svg#basket" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
<!--        <app-simple-input-file-img  *ngIf="!item.video && !item.isDownload" (click)="currentItem = item;" [label]="'Аудио'" [error]="item.errors['audio']" [src]="item.audio" [width]="'600px'" [height]="'140px'" [imageOptions]="item.photoOptions" (img)="uploadAudio($event, item)"></app-simple-input-file-img>-->

        <app-input-file-img *ngIf="!item.audio && !item.isDownload" (click)="currentItem = item;" [size]="'макс. 100Mb'" [label]="'Аудио'" [error]="item.errors['audio']" [base64]="item.audio" [width]="600" [height]="140" [imageOptions]="item.photoOptions" (cropIsOpen)="cropIsOpen = $event" (cropImg)="uploadAudio($event, item)" (cropOptions)="cropOptions = $event"></app-input-file-img>
        <div class="inp_wrap">
          <div class="inp_wrap-top">
            <div class="label">Подпись аудио</div>
            <app-langs-panel [langs]="item.langs" (newLangs)="item.langs = $event"></app-langs-panel>
          </div>
          <div class="inp __inp1" *ngFor="let input of item.langs" [hidden]="!input.selected">
            <input type="text" class="notranslate" [(ngModel)]="item[input.value]"/>
            <div class="error" *ngIf="item.errors.hasOwnProperty(input.value)">{{item.errors[input.value]}}</div>
          </div>
        </div>
      </div>




      <app-basket-dropdown [item]="item" (delete)="deleteBlock($event)"></app-basket-dropdown>
      <div class="order_panel">
        <div class="order_btn" (click)="changeOrder(item, i, true)">
          <svg class="svg-arrow-order">
            <use xlink:href="/assets/img/sprite.svg#arrow-order" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
        <div class="order_btn __rotate" (click)="changeOrder(item, i, false)">
          <svg class="svg-arrow-order">
            <use xlink:href="/assets/img/sprite.svg#arrow-order" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="controls">
  <button type="button" class="controls_item" (click)="addNewItem(1)">
    <svg class="svg-controls-1">
      <use xlink:href="/assets/img/sprite.svg#controls-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
  <button type="button" class="controls_item" (click)="addNewItem(2)">
    <svg class="svg-controls-2">
      <use xlink:href="/assets/img/sprite.svg#controls-2" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
  <button type="button" class="controls_item" (click)="addNewItem(3)">
    <svg class="svg-controls-3">
      <use xlink:href="/assets/img/sprite.svg#controls-3" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
  <button type="button" class="controls_item" (click)="addNewItem(4)">
    <svg class="svg-controls-4">
      <use xlink:href="/assets/img/sprite.svg#controls-4" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
  <button type="button" class="controls_item" (click)="addNewItem(5)">
    <svg class="svg-controls-5">
      <use xlink:href="/assets/img/sprite.svg#controls-5" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </button>
</div><!--<div class="types_list_wrap" [class.__show]="typesOpen">--><!--  <div class="types_list" (clickOutside)="closeList($event)">--><!--    <div class="types_list-item" *ngFor="let item of typesList" (click)="addNewItem(item)">--><!--      <img [src]="item.src" alt="type cover">--><!--    </div>--><!--    <div class="types_list-item" *ngFor="let item of typesListFake"></div>--><!--  </div>--><!--</div>--><!--<div class="types_btn-wrap">--><!--  <div class="types_btn" (click)="typesOpen = !typesOpen" [class.__rotate]="typesOpen"></div>--><!--</div>-->


<div [hidden]="!cropIsOpen">
  <app-crop-image [imageChangedEvent]="cropImg" [options]="cropOptions" [cropIsOpen]="cropIsOpen" (closeModal)="cropIsOpen = false" (applyCrop)="currentItem.img = $event"></app-crop-image>
</div>
