.box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  //height: 100%;
  //overflow: hidden;
  
  ::ng-deep {
    .row_sidebar {
      .row_sidebar-btn{
        opacity: 0!important;
        visibility: hidden!important;
      }
      .row_sidebar-hidden {
        opacity: 1!important;
        visibility: visible!important;
        
        .row_sidebar-hidden_btn {
          
          &:last-of-type {
            display: none!important;
          }
        }
      }
    }
    
  }
}
audio {
  width: 100%;
}
::ng-deep {
  
  
  
  .fr-toolbar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    border-radius: 4px !important;
    border-color: #1C1D1F;
  }
  
  p {
    height: auto;
    min-height: 100%;
  }
  
  .fr-wrapper {
    height: 100%;
    min-height: 100%;
    a[target="_blank"] {
      display: none !important;
    }
    
  }
  
  .fr-popup .fr-input-line {
    position: relative;
    padding: 19px 0 6px;
  }
  
  .fr-popup .fr-input-line input + label, .fr-popup .fr-input-line textarea + label {
    //position: absolute;
    //top: 0;
    //left: 0;
    //font-size: 12px;
    //color: rgba(0,0,0,0);
    //-webkit-transition: color .2s ease 0s;
    //-moz-transition: color .2s ease 0s;
    //-ms-transition: color .2s ease 0s;
    //-o-transition: color .2s ease 0s;
    //z-index: 3;
    //width: 100%;
    //display: block;
    color: #1C1D1F;
    background: transparent;
  }
  .fr-popup .fr-input-line input.fr-not-empty:focus + label, .fr-popup .fr-input-line textarea.fr-not-empty:focus + label {
    color: #0D5CD1;
  }
  .fr-checkbox-line, #linkBack-1, #linkList-1, .fr-separator, #linkStyle-1, #linkOpen-1, #linkBack-2, #linkList-2, .fr-separator, #linkStyle-2, #linkOpen-2 {
    display: none !important;
  }
  .fr-popup {
    background-color: #F9F9FA;
  }
  //
  .fr-popup .fr-input-line input[type=text], .fr-popup .fr-input-line textarea {
    //width: 100%;
    //margin: 0 0 1px;
    //border: 0;
    //border-bottom: solid 1px #bdbdbd;
    //color: #222;
    //font-size: 14px;
    //padding: 6px 0 2px;
    //background: rgba(0,0,0,0);
    //position: relative;
    //z-index: 2;
    //box-sizing: border-box;
    
    //width: 320px;
    height: 38px;
    background-color: #fff;
    border-radius: 4px;
    padding: 0 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
    transition: box-shadow .2s ease-in-out;
  }
  
  button {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    svg {
      margin: 0 !important;
      fill: #B2B7BF;
      &.insertLink-icon {
        fill: #1C1D1F !important;
        width: 18px !important;
        height: 18px !important;
      }
    }
    
    &.btn-active {
      svg {
        fill: #1C1D1F;
      }
    }
  }
  
  #underline-1 {
    svg {
      width: 26px;
      height: 16px;
    }
  }
}

.types_btn-wrap {
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: 30px;
  transform: translateX(-50%);
  z-index: 11;
}

.types_btn {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #0D5CD1;
  cursor: pointer;
  transition: transform .2s ease-in-out;
  
  &.__rotate {
    //transform: rotate(45deg);
    &:before {
      transform: translate(-50%, -50%) rotate(225deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(135deg);
    }
  }
  &:before, &:after {
    display: block;
    content: '';
    width: 13px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: transform .2s ease-in-out;
  }
  &:before {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  &:after {
    transform: translate(-50%, -50%);
  }
}

.types_list_wrap {
  position: fixed;
  bottom: 0;
  left: 100px;
  right: 40px;
  transform: translateY(100%);
  transition: bottom .3s ease-in-out, transform .3s ease-in-out;
  z-index: 10;
  &.__show {
    bottom: 70px;
    transform: translateY(0);
  }
}

.types_list {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1005px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  padding: 20px 4px 4px 20px;
  margin: 0 auto;
}

.types_list-item {
  opacity: .7;
  cursor: pointer;
  transition: opacity .15s ease-in-out;
  width: 105px;
  margin-right: 16px;
  margin-bottom: 16px;
  line-height: 0;
  &:hover {
    opacity: 1;
  }
}

.list {
  width: 100%;
  padding-bottom: 120px;
}

.list_item {
  position: relative;
  
  padding: 20px 45px 26px;
  position: relative;
  min-height: 147px;
  margin-bottom: 26px;
  
  .bgBox {
    background-color: #F2F3F5;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
  }
  
  &:last-of-type {
    margin-bottom: 0;
  }
  
  ::ng-deep {
    .row_sidebar {
      bottom: auto;
      top: 6px !important;
    }
    .row_sidebar-hidden {
      flex-direction: column-reverse !important;
      top: 3px !important;
      transform: translateY(0) !important;
      right: 7px !important;
    }
  }
}

.order_panel {
  position: absolute;
  right: 9px;
  bottom: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .order_btn {
    cursor: pointer;
    padding: 5px;
    
    &:hover {
      svg {
        fill: #1C1D1F;
      }
    }
    
    &:first-of-type {
      margin-bottom: 25px;
    }
    &.__rotate {
      transform: rotate(180deg);
    }
  }
  svg {
    width: 17px;
    height: 10px;
    fill: #9CA8B8;
    transition: fill .15s ease-in-out;
  }
}

.label {
  font-family: Arial;
  font-size: 15px;
  letter-spacing: 0.22px;
  color: #797C80;
  padding-left: 20px;
  position: relative;
  z-index: 3;
  //margin-bottom: 10px;
}

.dropdown {
  margin-top: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity .1s ease-in-out, visibility .1s ease-in-out;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  z-index: 20;
  margin-bottom: 30px;
  &.__show {
    opacity: 1;
    visibility: visible;
  }
  
  .dropdown-list {
    position: relative;
    max-height: 245px;
  }
  .dropdown-list_item {
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-family: Arial;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #2B3033;
    height: 35px;
    transition: background-color .15s ease-in-out, color .15s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: #F3F3F5;
    }
    
    &.__selected {
      background-color: #F3F3F5;
      color: #0D5CD1;
    }
  }
}

.slides {
  width: 100%;
  position: relative;
  display: flex;
  .slides_list {
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }
  
  .slides_progress {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 20px;
    background-color: rgba(28, 29, 31, .3);
    z-index: 2;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    //line-height: 25px;
    letter-spacing: 0.38px;
    color: #fff;
    display: none;
    
    &.__show {
      display: flex;
    }
  }
  .slide {
    position: relative;
    width: auto;
    height: 112px;
    margin-bottom: 20px;
    margin-right: 9px;
    overflow: hidden;
    
    &:hover {
      .delete {
        opacity: 1;
      }
    }
    
    .delete {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(28, 29, 31, .7);
      opacity: 0;
      transition: opacity .15s ease-in-out;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 20px;
        height: 20px;
        fill: #fff;
      }
    }
    
    img {
      height: 100%;
      max-width: none;
      width: auto;
    }
  }
  
  .slide_add {
    margin-bottom: 20px;
    width: 112px;
    height: 112px;
    background-color: #B2B7BF;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.38px;
    color: #2B3033;
    cursor: pointer;
    position: relative;
    
    input {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      z-index: 1;
      pointer-events: none;
    }
    
  }
}

.error {
  //display: inline-block;
  position: absolute;
  right: 10px;
  top: 100%;
  margin-top: 5px;
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 0.2px;
  color: #FF001E;
  //display: none;
}

.list_item-content {
  z-index: 2;
  display: flex;
  align-items: center;
  //justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  pointer-events: none;
  & > * {
    pointer-events: auto;
  }
  
  .content_left, .content_right {
    display: flex;
    flex-direction: column;
  }
  &.__type-3 {
    .inp_wrap {
      margin-top: 26px;
    }
  }
  //&.__type-5, &.__type-6 {
  //  flex-direction: row;
  //  justify-content: center;
  //  align-items: flex-start;
  //  .content_left {
  //    max-width: 280px;
  //    width: 100%;
  //
  //  }
  //  .content_right {
  //    padding-left: 19px;
  //    max-width: 660px;
  //    width: 100%;
  //    .textarea_wrap {
  //      width: 100%;
  //      max-width: none;
  //    }
  //    .textarea {
  //      //height: 248px;/**/
  //    }
  //
  //  }
  //
  //}
  
  &.__type-9 {
    app-input-file-img {
      width: 600px;
    }
  }
  &.__type-9, &.__type-17, &.__type-5 {
    app-input-file-img {
      margin-bottom: 26px;
    }
    
    .video_preview {
      max-width: 600px;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      position: relative;
      
      &:hover {
        .delete {
          opacity: 1;
        }
      }
      video {
        //position: absolute;
        left: 0;
        //right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        //max-width: 600px;/**/
      }
    }
    
    .isDownload {
      color: #2B3033;
      font-family: Arial;
      font-size: 20px;
      letter-spacing: 0.22px;
      margin: 10px 0;
      width: 220px;
    }
    
    .delete {
      position: absolute;
      left: 100%;
      top: 0;
      padding-left: 10px;
      opacity: 0;
      transition: opacity .15s ease-in-out;
    }
    
    .svg-basket {
      width: 15px;
      height: 15px;
      fill: #B4BDC9;
    }
  }
  
  .__type-5 {
  
  }
  
  &.__type-10 {
    app-input-file-img {
      margin-bottom: 26px;
    }
  }
  
  
  &.__type-11, &.__type-12 {
    app-input-file-img {
      margin-bottom: 26px;
      width: 460px;
    }
  }
  &.__type-11 {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    .content_right {
      padding-left: 19px;
      max-width: 480px;
      width: 100%;
      .textarea_wrap {
        width: 100%;
        max-width: none;
      }
      .textarea {
        height: auto;
      }
      
    }
    app-input-file-img {
      margin-bottom: 26px;
      ::ng-deep {
        .label {
          margin-bottom: 9px;
          margin-top: 4px;
        }
      }
    }
  }
  &.__type-13 {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    .content_right {
      padding-left: 19px;
      max-width: 680px;
      width: 100%;
      .textarea_wrap {
        width: 100%;
        max-width: none;
      }
      .textarea {
        //height: 354px;
      }
      
    }
    app-input-file-img {
      width: 258px;
      margin-bottom: 21px;
      ::ng-deep {
        .label {
          margin-bottom: 9px;
          margin-top: 4px;
        }
      }
    }
  }
  
  &.__type-12 {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    .content_left {
      padding-right: 19px;
      max-width: 480px;
      width: 100%;
    }
    
    .textarea_wrap {
      width: 100%;
      max-width: none;
    }
    .textarea {
      height: auto;
    }
    app-input-file-img {
      margin-bottom: 26px;
      ::ng-deep {
        .label {
          margin-bottom: 9px;
          margin-top: 4px;
        }
      }
    }
  }
  
  &.__type-16 {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    .content_wrap {
      display: flex;
      max-width: 600px;
      width: 100%;
    }
    .content_left {
      margin-right: 20px;
      width: 200px;
      .label {
        margin-bottom: 10px;
      }
      .fake_img {
        min-height: 112px;
        border-radius: 4px;
        overflow: hidden;
        background-color: #B2B7BF;
      }
    }
    
    .content_right {
      flex: 1;
      .label {
        margin-bottom: 8px;
      }
    }
    
    .textarea_wrap {
      max-width: 380px;
      width: 100%;
    }
    
    .inp {
      input {
        width: 100%;
      }
    }
    
    .textarea_wrap-top {
      margin-bottom: 10px;
    }
  }
  &.__type-19, &.__type-20 {
    .textarea_wrap-top {
      margin-bottom: 20px;
    }
    
    .preview {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
      margin-bottom: 20px;
      ::ng-deep {
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    .inp {
      input {
        width: 100%;
      }
    }
  }
  &.__type-24, &.__type-22, &.__type-21, &.__type-23 {
    .textarea_wrap-top {
      margin-bottom: 20px;
    }
    
    .preview {
      position: relative;
      display: flex;
      justify-content: center;
      //padding-bottom: 56.25%; /* 16:9 */
      //padding-top: 25px;
      //height: 0;
      margin-bottom: 20px;
      ::ng-deep {
        iframe {
          margin: 0 auto;
          //position: absolute;
          //top: 0;
          //left: 0;
          //width: 100%;
          //height: 100%;
        }
      }
    }
    .inp {
      input {
        width: 100%;
      }
    }
  }
  &.__type-25, &.__type-26  {
    
    ::ng-deep {
      input {
        width: 600px;
      }
    }
    .label {
      width: 100%;
      margin-bottom: 5px;
    }
    .inp_wrap-top {
      margin-bottom: 5px;
    }
    .poll_preview {
      width: 600px;
      margin-bottom: 16px;
      //height: 600px;
      //border-radius: 4px;
      //background-color: #B2B7BF;
    }
    .poll_preview-fake {
      width: 600px;
      height: 360px;
      border-radius: 4px;
      background-color: #B2B7BF;
    }
    
    
  }
  
  
}

.choosenID {
  width: 100%;
  height: 45px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 36px 0 18px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
  transition: box-shadow .2s ease-in-out;
  .choosenID_item {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
      color: #2B3033;
      font-family: Arial;
      font-size: 15px;
      letter-spacing: 0.22px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    svg {
      width: 22px;
      height: 22px;
      fill: #B2B7BF;
      margin-left: 8px;
      cursor: pointer;
      padding: 5px;
      flex: 1 0 auto;
      &:hover {
        fill: #1C1D1F;
      }
    }
  }
  
  &:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  }
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
  position: relative;
  .label {
    margin-bottom: 8px;
    //margin-top: 4px;
  }
}

.datepick {
  display: flex;
  flex-direction: column-reverse;
  width: 125px;
  position: relative;
  mat-datepicker-toggle {
    position: absolute;
    bottom: 22px;
    right: 0;
    transform: translateY(19px);
  }
  input {
    //width: 55px;
    //padding: 0 15px;
    line-height: 45px;
  }
  input {
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    height: 45px;
    width: 125px;
    padding: 0 20px;
    //text-align: center;
    color: #2B3033;
    font-size: 17px;
    letter-spacing: 0.26px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
    transition: box-shadow .2s ease-in-out;
    resize: none;
    &:hover, &:focus {
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
    }
    //&:focus ~ .label {
    //  color: #0D5CD1;
    //}
    
  }
  ::ng-deep {
    .mat-datepicker-toggle-active {
      color: #0D5CD1;
    }
  }
}
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.time {
  
  .common {
    width: 120px;
    display: flex;
    justify-content: space-between;
  }
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-between;
  textarea, input {
    z-index: 1;
    //width: 55px;
    //padding: 0 15px;
    line-height: 45px;
    height: 45px!important;
  }
  textarea, input {
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    height: 45px;
    width: 55px;
    //padding: 0 20px;
    text-align: center;
    color: #2B3033;
    font-size: 17px;
    letter-spacing: 0.26px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
    transition: box-shadow .2s ease-in-out;
    resize: none;
    &:hover, &:focus {
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
    }
    //&:focus ~ .label {
    //  color: #0D5CD1;
    //}
    
  }
}

.textarea_wrap {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  
  &.__full {
    max-width: none;
    
    .inp {
      max-width: 600px;
      margin: 0 auto;
      width: 100%;
    }
  }
  
  .textarea {
  
  }
}

.textarea_input-wrap {
  position: relative;
  
  &.__list {
    .inp {
      margin-top: 10px;
      input {
        width: 100%;
      }
      
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

::ng-deep {
  .fr-element {
    width: 100%;
    min-height: 115px;
    outline: 0;
    background-color: #fff;
    border-radius: 4px;
    margin: 0 auto;
    padding: 10px 18px;
    font-family: Arial;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.26px;
    color: #1C1D1F;
    overflow: auto;
    resize: none;
    cursor: text;
    display: flex;
    flex-direction: column;
    
    &.__size {
      min-height: 68px;
      height: auto;
    }
    &.__1 {
      ::ng-deep {
        u {
          background-color: #1C1D1F;
          color: #fff;
        }
      }
    }
    &.__2 {
      ::ng-deep {
        u {
          background-color: #ADE8A9;
        }
      }
    }
    &.__3 {
      ::ng-deep {
        u {
          background-color: #97E4FC;
        }
      }
    }
    &.__4 {
      ::ng-deep {
        u {
          background-color: #D0BBFA;
          color: #fff;
        }
      }
    }
    &.__5 {
      ::ng-deep {
        u {
          background-color: #F7ADBA;
        }
      }
    }
    &.__6 {
      ::ng-deep {
        u {
          background-color: #FCC6B0;
        }
      }
    }
    
  }
}

.textarea {
  width: 100%;
  min-height: 115px;
  outline: 0;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px 18px;
  font-family: Arial;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.26px;
  color: #1C1D1F;
  overflow: auto;
  resize: none;
  cursor: text;
  
  ::ng-deep {
    height: 100%;
    border-color: transparent!important;
    div {
      min-height: 115px;
      border-color: transparent!important;
      box-shadow: none!important;
    }
    p {
      padding: 10px 18px;
      border-color: transparent!important;
      height: 100%;
    }
    a {
      text-decoration: underline;
      background: transparent!important;
    }
    em {
      //background-color: red;
      text-decoration: none;
      font-style: normal;
    }
  }
  
  &.__reset {
    padding: 0;
  }
  
  &.__size {
    min-height: 68px;
    height: auto;
  }
  &.__1 {
    ::ng-deep {
      em {
        background-color: #1C1D1F;
        color: #fff;
      }
    }
  }
  &.__2 {
    ::ng-deep {
      em {
        background-color: #ADE8A9;
      }
    }
  }
  &.__3 {
    ::ng-deep {
      em {
        background-color: #97E4FC;
      }
    }
  }
  &.__4 {
    ::ng-deep {
      em {
        background-color: #D0BBFA;
      }
    }
  }
  &.__5 {
    ::ng-deep {
      em {
        background-color: #F7ADBA;
      }
    }
  }
  &.__6 {
    ::ng-deep {
      em {
        background-color: #FCC6B0;
      }
    }
  }
  
}

.inp_wrap-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.inp_wrap {
  max-width: 600px;
  width: 100%;
  input {
    width: 100%;
  }
}

app-langs-panel {
  margin-left: 20px;
}

.textarea_wrap-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  
  .top_left, .top_right {
    display: flex;
    align-items: center;
  }
}
.controls {
  position: fixed;
  z-index: 100;
  left: 100px;
  top: 100px;
  
  .controls_item {
    padding: 10px;
    margin: 5px 0;
    
    &:hover {
      svg {
        fill: #1C1D1F;
      }
    }
  }
  
  svg {
    fill: #B2B7BF;
  }
  .svg-controls-1 {
    width: 12px;
    height: 15px;
  }
  .svg-controls-2 {
    width: 12px;
    height: 15px;
  }
  .svg-controls-3 {
    width: 15px;
    height: 13.8px;
  }
  .svg-controls-4 {
    width: 13px;
    height: 15px;
  }
  .svg-controls-5 {
    width: 12px;
    height: 15px;
  }
  
}
