<div class="box">
  <div class="top">
    <div class="container">
      <div class="top_left">
        <h1>Персоны</h1>
        <a href="" routerLink="/persons/add" class="__topBtn">Новая персона</a>
      </div>
      <div class="top_right">
        <!--<app-select-template [style]="2" [height]="35" [options]="roleArray" [width]="200" [placeholder]="'Автор'" (choice)="onChoice($event)"></app-select-template>-->
        <div class="selectDpdwn">
          <app-dropdown-autocomplete (newValue)="onChoice($event.id)" [placeholder]="'Партия'" [url]="'/party/dict'"></app-dropdown-autocomplete>
        </div>


        <div class="inp __inp">
          <input type="text" name="search" [(ngModel)]="filterParams.search" (input)="onSearch()" placeholder="Поиск"/>
          <svg class="svg-search">
            <use xlink:href="/assets/img/sprite.svg#search" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="sorts">
      <div class="sorts_list">
        <div class="sort_item" *ngFor="let sort of sortList">
          <div class="sort_item-btn" (click)="setOrder(sort)" [class.__reverse]="sort.reverse">
            <svg class="svg-arrow-long">
              <use xlink:href="/assets/img/sprite.svg#arrow-long" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <span>{{sort.text}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container" [perfectScrollbar]="{}">
      <div class="table">
        <div class="table_row" *ngFor="let person of persons | paginate: { itemsPerPage: filterParams.itemsPerPage, currentPage: filterParams.page, totalItems: filterParams.total} ; let i = index">
          <div class="table_row-conent" (click)="personEdit(person, $event)">
            <div class="table_row-cell">
              <div class="img">
                <img [src]="person.avatar" alt="">
              </div>
              <span>{{person.sirname}} {{person.name}}</span>
            </div>
            <div class="table_row-cell __n">{{person.position}}</div>
            <div class="table_row-cell __n">{{person.party}}</div>
            <div class="table_row-cell __n">{{person.city}}</div>
          </div>
<!--          <app-basket-dropdown [item]="person" (itemOut)="_common.dropdownVisibility($event, persons)" (delete)="deletePerson($event)"></app-basket-dropdown>-->
        </div>
      </div>
      <pagination-controls (pageChange)="changePageHandler($event)" directionLinks="false" autoHide="true"></pagination-controls>
    </div>
  </div>
</div>

