:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.box {
  position: relative;
  overflow: hidden;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.svg-clock {
  width: 16px;
  height: 16px;
  fill: #9CA8B8;
  margin-right: 10px;
}

.inp {
  margin-left: 20px;
}

.content {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 54px;
  .container {
    flex-direction: column;
    max-width: none;
    position: relative;
    padding-right: 20px;
    overflow: hidden;
    padding-bottom: 20px;
  }
  .table {
    max-width: 1440px;
    position: relative;
    height: auto;
    
    .img {
      max-width: 38px;
      min-width: 38px;
    }
  }
}

.top_right {
  flex: 1;
  justify-content: flex-end;
  .selectDpdwn {
    width: 300px;
    height: 35px;
    
    app-dropdown-autocomplete {
      height: 35px;
    }
    ::ng-deep {
      input, .choice {
        background: #F9F9FA;
        border-radius: 4px;
        //overflow: hidden;
        height: 35px;
        //display: flex;
        //align-items: center;
        width: 300px;
        position: relative;
        box-shadow: none;
        &:hover {
          box-shadow: none;
          background: #F3F3F5;
        }
      }
    }
  }
  
  .__inp {
    width: 250px;
  }
}

.sort_item, .table_row-cell {
  flex: 1;
  max-width: 280px;
  
  &:first-of-type {
    max-width: none;
    padding-right: 30px;
  }
  .__grey {
    font-family: Arial;
    font-size: 14px;
    letter-spacing: 0.21px;
    color: #B4BDC9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
  }
  
  //&:nth-of-type(1) {
  //  flex: 1;
  //  //max-width: 350px;
  //  min-width: 250px;
  //  max-width: 450px;
  //  width: 100%;
  //  padding-right: 30px;
  //}
  //&:nth-of-type(2) {
  //  //min-width: 100px;
  //  max-width: 140px;
  //  width: 100%;
  //}
  //&:nth-of-type(3) {
  //  //min-width: 100px;
  //  max-width: 230px;
  //  width: 100%;
  //}
  //&:nth-of-type(4) {
  //  //min-width: 100px;
  //  max-width: 230px;
  //  width: 100%;
  //}
  //&:nth-of-type(5) {
  //  //min-width: 100px;
  //  max-width: 200px;
  //  width: 100%;
  //}
  
  
  
  
}

.table_row-cell {
  &:first-of-type {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.sort_item {
  flex: 1;
  &:first-of-type {
    //padding-left: 67px;
    .sort_item-btn {
      padding-left: 47px;
    }
  }
  
}

//.top {
//  width: 100%;
//  height: 70px;
//  position: absolute;
//  left: 0;
//  right: 0;
//  top: 0;
//  z-index: 1;
//  background-color: #fff;
//  //display: flex;
//  //align-items: center;
//  .container {
//    justify-content: space-between;
//  }
//}
