.box {
  position: fixed;
  background-color: rgba(28, 29, 31, .8);
  z-index: 100;
  white-space: nowrap;
  padding: 0 8px;
  font-family: Arial;
  font-size: 12px;
  border-radius: 2px;
  line-height: 22px;
  letter-spacing: 0.22px;
  color: #FFFFFF;
  opacity: 0;
  transition: opacity .15s ease-in-out;
  transition-delay: .05s;
  pointer-events: none;
  &.__show {
    opacity: 1;
    transition: opacity .15s ease-in-out;
    //transition-delay: 1s;
  }
}
