<div class="box">
  <div class="top">
    <div class="container">
      <div class="top_left">
        <h1>{{pageTitle}}</h1>
        <app-spinner-btn [text]="btnText" (event)="addPerson()"></app-spinner-btn>
      </div>
    </div>
  </div>
  <div class="content" [perfectScrollbar]="{}">
    <div class="container">
      <div class="content_left">
        <div class="imgs">
          <app-input-file-img
            [size]="'min. 640х400px'"
            [label]="'Фото'"
            [error]="errors['photo']"
            [base64]="person.photo"
            (checkPhoto)="photoChek = true"
            [width]="260"
            [height]="260"
            [imageOptions]="photoOptions"
            (cropIsOpen)="cropIsOpen = $event"
            (cropImg)="cropImg = $event;"
            (cropOptions)="cropOptions = $event"
          ></app-input-file-img>
        </div>
      </div>
      <div class="content_right">
        <div class="form_row">
          <div class="inp_block">
            <div class="inp_wrap __datepick">
              <div class="__datepick-wrap" (click)="picker.open()">
                <input matInput [matDatepicker]="picker" [(ngModel)]="date" (dateInput)="_common.clearField('date', errors)" placeholder="12/12/2018">

              </div>
              <mat-datepicker #picker></mat-datepicker>
              <div class="error" *ngIf="errors.date">{{errors.date}}</div>
            </div>
            <div class="inp_top">
              <div class="form_row-cell_label">Дата рождения</div>
            </div>
          </div>
          <div class="inp_block">
            <app-dropdown-autocomplete-city (newValue)="person.city_id = $event.id"
                                       [value]="person.city"
                                       [placeholder]="'Введите город'"
                                       [url]="'/region/all'"></app-dropdown-autocomplete-city>
            <div class="inp_top">
              <div class="form_row-cell_label">Город</div>
            </div>
          </div>
        </div>
        <div class="form_row">
          <div class="inp_block">
            <div class="inp_wrap" *ngFor="let input of langsSirname" [hidden]="!input.selected">
              <input type="text" (input)="_common.clearField(input.value, errors)" [(ngModel)]="person[input.value]"/>
              <div class="error" *ngIf="errors.hasOwnProperty(input.value)">{{errors[input.value]}}</div>
            </div>
            <div class="inp_top">
              <div class="form_row-cell_label">Фамилия</div>
              <app-langs-panel [langs]="langsSirname" (newLangs)="langsSirname = $event"></app-langs-panel>
            </div>
          </div>
          <div class="inp_block">
<!--            <app-dropdown-autocomplete-city (newValue)="person.city_id = $event.id"-->
<!--                                            [value]="person.city"-->
<!--                                            [placeholder]="'Введите город для поиска'"-->
<!--                                            [url]="'/region/all'"></app-dropdown-autocomplete-city>-->
            <app-dropdown-autocomplete (newValue)="person.workplace_id = $event.id; errors.workplace_id = null"
                                       [value]="person.workplace_id ? {title: person.workplace_title, id: person.workplace_id} : null"
                                       [placeholder]="'Введите место работы'"
                                       [url]="'/workplace/search'"></app-dropdown-autocomplete>
            <div class="inp_top">
              <div class="form_row-cell_label">Структура (место работы)</div>
            </div>
          </div>
        </div>

        <div class="form_row">
          <div class="inp_block">
            <div class="inp_wrap" *ngFor="let input of langsName" [hidden]="!input.selected">
              <input type="text" (input)="_common.clearField(input.value, errors)" [(ngModel)]="person[input.value]"/>
              <div class="error" *ngIf="errors.hasOwnProperty(input.value)">{{errors[input.value]}}</div>
            </div>
            <div class="inp_top">
              <div class="form_row-cell_label">Имя Отчество</div>
              <app-langs-panel [langs]="langsName" (newLangs)="langsName = $event"></app-langs-panel>
            </div>
          </div>
          <div class="inp_block">
            <div class="inp_wrap" *ngFor="let input of langsPosition" [hidden]="!input.selected">
              <input type="text" (input)="_common.clearField(input.value, errors)" [(ngModel)]="person[input.value]"/>
              <div class="error" *ngIf="errors.hasOwnProperty(input.value)">{{errors[input.value]}}</div>
            </div>
            <div class="inp_top">
              <div class="form_row-cell_label">Должность</div>
              <app-langs-panel [langs]="langsPosition" (newLangs)="langsPosition = $event"></app-langs-panel>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div [hidden]="!cropIsOpen">
  <app-crop-image [imageChangedEvent]="cropImg"
                  [options]="cropOptions"
                  [cropIsOpen]="cropIsOpen"
                  (closeModal)="cropIsOpen = false" (applyCrop)=" cropImage($event)"></app-crop-image>
</div>


