:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.content {

  //height: 100%;
  overflow: hidden;
  display: block;
  padding-bottom: 30px;
  position: relative;
  //padding-bottom: 30px;
  .container {
    padding-top: 30px;
    //padding-bottom: 30px;
    //margin-bottom: 30px;
    height: auto;
    align-items: flex-start;
  }
}

.content_left {
  width: 260px;
}

.content_right {
  flex: 1;
  max-width: 740px;
  padding-left: 40px;
}

.imgs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: flex-start;
}

.inp_block {
  display: flex;
  flex-direction: column-reverse;
  //&:focus-within {
  //  & ~ .inp_top .form_row-cell_label {
  //    //.label {
  //    color: #0D5CD1;
  //    //}
  //  }
  //}
  &:first-of-type {
    width: 300px;
  }
  &:last-of-type {
    width: 360px;
  }
  
}

.inp_wrap {
  
  &.__datepick {
    .__datepick-wrap {
  
      cursor: pointer;
    }
    input {
      width: 150px;
      pointer-events: none;
    }
    &:focus-within {
      & ~ .inp_top .form_row-cell_label {
        //.label {
        color: #797C80;
        //}
      }
    }
  }
  &:focus-within {
    & ~ .inp_top .form_row-cell_label {
      //.label {
      color: #0D5CD1;
      //}
    }
  }
}
.inp_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
  
}
input, textarea {
  background: #FFFFFF;
  border-radius: 4px;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  color: #2B3033;
  font-size: 17px;
  letter-spacing: 0.26px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
  transition: box-shadow .2s ease-in-out;
  
  &:hover, &:focus {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  }
  &:focus + .form_row-cell_label {
    color: #0D5CD1;
  }
  
}
.form_row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 26px;
  width: 100%;
}

.form_row-cell {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  
  &:last-of-type {
    padding-left: 40px;
  }
  &:first-of-type {
    padding-left: 0;
  }
  
}

.error {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 100%;
  margin-top: 5px;
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 0.2px;
  color: #FF001E;
}

.form_row-cell_label {
  display: flex;
  align-items: center;
  font-family: Arial;
  font-size: 15px;
  letter-spacing: 0.22px;
  color: #797C80;
  padding-left: 20px;
  height: 25px;
}
