.notif_wrap {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9999999;
  display: flex;
}

.notif_list {
  //padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.notif_item-wrap {
  transition: top .15s ease-in-out;
  position: absolute;
  right: 0;
  animation: hide .2s ease-in-out 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  
  //animation-timing-function: ease-in-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}

.notif_item {
  position: relative;
  //padding: 10px;
  //background-color: #000;
  color: #1C1D1F;
  height: 32px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transform: translateX(150%);
  animation: move .3s;
  //animation-delay: .3s;
  border-radius: 4px;
  overflow: hidden;
  animation-fill-mode: forwards;
  padding-left: 35px;
  padding-right: 20px;
  &.__success {
    background-color: #FFD84A;
  }
  &.__error {
    background-color: #FF4D4D;
  }
}

.delete {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  //width: 18px;
  //height: 18px;
  cursor: pointer;
  
  svg {
    width: 11.4px;
    height: 11.4px;
    fill: #1C1D1F;
  }
  //&:before, &:after {
  //  display: block;
  //  content: '';
  //  width: 16px;
  //  height: 2px;
  //  position: absolute;
  //  left: 50%;
  //  top: 50%;
  //  background-color: #1C1D1F;
  //}
  //&:before {
  //  transform: translate(-50%, -50%) rotate(45deg);
  //}
  //&:after {
  //  transform: translate(-50%, -50%) rotate(-45deg);
  //}
  
}

@keyframes move {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}
