<div class="notif_wrap">
  <div class="notif_list">
    <div class="notif_item-wrap" *ngFor="let notif of notifications" [style.top.px]="notif.top" [class.__hide]="notif.hide">
      <div [class]="'notif_item __' + notif.type">
        <span>{{notif.text}}</span>
        <div class="delete" (click)="deleteNotification(notif)">
          <svg class="svg-cross">
            <use xlink:href="#cross" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

