@import "reset";
@import "blank";
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.textarea {
  a {
    text-decoration: underline;
  }
  u {
    //background-color: red;
    text-decoration: none;
  }
}
.mce-notification {
  display: none!important;
}
.mce-tinymce-inline {
  width: 100%;
  border-width: 0!important;
  border-radius: 4px!important;
  //overflow: hidden!important;
  border-color: transparent!important;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .3)!important;
  
  input {
    border: 1px solid transparent!important;
    //border-right-color: #c5c5c5;
    height: 100%!important;
  }
  
}

.mce-container {
  padding: 0 !important;
}

.mce-arrow.mce-arrow-down:before {
  display: none !important;
}

.mce-flow-layout-item.mce-last {
  margin-right: 0!important;
}
.mce-abs-layout-item {
  position: absolute;
}
.mce-widget.mce-tooltip {
  display: none !important;
}
.mce-btn {
  background-color: transparent!important;
  padding: 0 !important;
  margin: 0 !important;
  border-width: 0!important;
  &:hover {
    border-color: transparent!important;
    background-color: #F2F3F5!important;
  }
  
  &:first-of-type {
    border-radius: 4px 0 0 4px;
  }
  &:last-of-type {
    border-radius: 0 4px 4px 0;
  }
  
  
  button {
    width: 42px!important;
    height: 42px!important;
    display: flex!important;
    justify-content: center;
    align-items: center;
    padding: 0!important;
  }
  
  i {
    position: relative;
    width: 24px;
    height: 24px;
    //background-position: 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mce-i-bold:before {
    content: url('/assets/img/bold.svg') !important;
    width: 12px;
    height: 15px;
  }
  
  .mce-i-checkmark:before {
    content: 'OK';
    color: #1C1D1F;
    font-family: Arial;
    font-size: 17px;
    letter-spacing: 0.26px;
  }
  .mce-i-italic:before {
    content: url('/assets/img/bgcolor.svg') !important;
    width: 26px;
    height: 16px;
  }
  .mce-i-link:before {
    content: url('/assets/img/linkurl.svg') !important;
    width: 18px;
    height: 18px;
  }
  
  
  &.mce-active {
    .mce-i-bold:before {
      content: url('/assets/img/bold_active.svg') !important;
    }
    .mce-i-italic:before {
      content: url('/assets/img/bgcolor_active.svg') !important;
      width: 26px;
      height: 16px;
    }
    .mce-i-link:before {
      content: url('/assets/img/linkurl_active.svg') !important;
      width: 18px;
      height: 18px;
    }
  }
  
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  height: 100%;
  //line-height: 0;
}

.top {
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #fff;
  //display: flex;
  //align-items: center;
  .container {
    justify-content: space-between;
  }
}

h1 {
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.3px;
  color: #1C1D1F;
  margin-right: 46px;
}

.__topBtn {
  display: flex;
  align-items: center;
  background-color: #B2B7BF;
  border-radius: 4px;
  height: 35px;
  padding: 0 20px;
  font-family: Arial;
  font-size: 17px;
  letter-spacing: 0.26px;
  color: #FFFFFF;
  transition: background-color .1s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #1C1D1F;
    color: #fff;
  }
}

.top_left, .top_right {
  display: flex;
  align-items: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B4BDC9;
  font-family: Arial;
  font-size: 15px;
  letter-spacing: 0.22px;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #B4BDC9;
  font-family: Arial;
  font-size: 15px;
  letter-spacing: 0.22px;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #B4BDC9;
  font-family: Arial;
  font-size: 15px;
  letter-spacing: 0.22px;
}

:-moz-placeholder { /* Firefox 18- */
  color: #B4BDC9;
  font-family: Arial;
  font-size: 15px;
  letter-spacing: 0.22px;
}

.__inp {
  background: #F9F9FA;
  border-radius: 4px;
  overflow: hidden;
  height: 35px;
  display: flex;
  align-items: center;
  width: 200px;
  position: relative;
  
  .svg-search {
    width: 15px;
    height: 15px;
    fill: #9CA8B8;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  input {
    width: 100%;
    height: 100%;
    padding: 0 36px 0 18px;
    background-color: transparent;
    color: #2B3033;
    font-family: Arial;
    font-size: 15px;
    letter-spacing: 0.22px;
  }
  
  &:hover {
    background: #F3F3F5;
  }
}

.__inp1 {
  position: relative;
  
  &:focus-within {
    & ~ .inp_wrap-top {
      .label {
        color: #0D5CD1;
      }
    }
  }
  
  input {
    width: 460px;
    height: 45px;
    background-color: #fff;
    border-radius: 4px;
    padding: 0 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
    transition: box-shadow .2s ease-in-out;
    
    &:hover, &:focus {
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
    }
    //background-color: transparent;
  }
  
  .error {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 100%;
    margin-top: 5px;
    font-family: Arial;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: #FF001E;
    //display: none;
  }
  //background: #F9F9FA;
  //border-radius: 4px;
  //overflow: hidden;
  //height: 35px;
  //display: flex;
  //align-items: center;
  //width: 200px;
  //position: relative;
}

.sorts {
  display: flex;
  align-items: center;
  height: 54px;
  justify-content: flex-start;
  //width: 100%;
  width: auto;
  position: absolute;
  top: 0;
  left: 40px;
  right: 40px;
}

.sorts_list {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  //padding: 0 40px;
  display: flex;
  align-items: center;
  height: 100%;
}

.sort_item {
  //max-width: 260px;
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
  &:first-of-type {
    padding-left: 20px;
  }
  .sort_item-btn {
    padding: 8px;
    padding-left: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    &:hover, &.__selected {
      .svg-arrow-long {
        fill: #1C1D1F;
      }
      span {
        color: #1C1D1F;
      }
    }
    &.__reverse {
      .svg-arrow-long {
        transform: rotate(180deg);
      }
    }
  }
  //B4BDC9
  .svg-arrow-long {
    width: 8.2px;
    height: 8.2px;
    fill: #B4BDC9;
    transform: rotate(0);
    transition: fill .1s ease-in-out, transform .15s ease-in-out;
  }
  span {
    display: block;
    margin-left: 10px;
    font-family: Arial;
    font-size: 14px;
    letter-spacing: 0.21px;
    color: #B4BDC9;
    line-height: 1;
    transition: color .1s ease-in-out;
  }
}

.table {
  width: 100%;
  position: relative;
  height: 100%;
  padding-right: 20px;
}

.table_row {
  position: relative;
  background: #FFFFFF;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
  transition: box-shadow .2s ease-in-out;
  
  &:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  }
  
  &:last-of-type {
    margin-bottom: 0;
  }
}

.table_row-conent {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.table_row-cell {
  //max-width: 260px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.24px;
  color: #313233;
  
  .img {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  &:first-of-type {
    padding-left: 20px;
  }
  
  &.__n {
    font-weight: normal;
  }
  
}

//::ng-deep {
pagination-controls {
  margin-top: 25px;
  
  li {
    margin: 0 10px !important;
    padding: 0 !important;
    background-color: transparent !important;
    //padding: 0 !important;
    //width: 35px!important;
    //height: 35px!important;
    //border-radius: 4px!important;
    &.current {
      pointer-events: none;
      span {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 35px !important;
        height: 35px !important;
        background-color: #0D5CD1 !important;
        border-radius: 4px !important;
        font-family: Arial;
        font-size: 17px !important;
        letter-spacing: 0.26px !important;
        color: #FFFFFF !important;
      }
    }
  }
  
  a {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 35px !important;
    height: 35px !important;
    border-radius: 4px !important;
    padding: 0 !important;
    background-color: #B2B7BF !important;
    transition: background-color .1s ease-in-out;
    
    &:hover {
      background-color: #1C1D1F !important;
    }
    
    span {
      font-family: Arial;
      font-size: 17px !important;
      letter-spacing: 0.26px !important;
      color: #FFFFFF !important;
    }
  }
}

//}

