.mapWiget {
	width: 318px;
	box-shadow: -1px -1px 3px 0px rgba(0,0,0,0.15);
	background-color: #ffffff;
	padding: 16px;
	overflow: auto;
	
	.mapWiget_head {
		color: #555555;
		@extend %OsSB;
		font-size: 14px;
		margin-bottom: 18px;
	}
	
	.mapWiget_filter {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 18px;
	}
	
	.mapWiget_filter-item {
		width: 34px;
		height: 34px;
		border-radius: 50%;
		background-color: #e7e7e7;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		
		&.selected {
			background-color: #016699;
			svg {
				fill:#ffffff;
			}
		}
		
		svg {
			fill:#717171;
		}
		
		.icon-svg-warning {
			width: 15px;
			height: 13px;
		}
		.icon-svg-settings {
			width: 13px;
			height: 13px;
		}
		.icon-svg-lock {
			width: 11px;
			height: 14px;
		}
		.icon-svg-phone {
			width: 9px;
			height: 15px;
		}
		.icon-svg-repair {
			width: 14px;
			height: 14px;
		}
		.icon-svg-drop {
			width: 10px;
			height: 14px;
		}
		.icon-svg-air {
			width: 16px;
			height: 16px;
		}
	}
	//
	//border: 1px solid #f3f3f3;
	//background-color: #ffffff;
	
	.mapWiget_info {
	
	}
	
	.mapWiget_info-card {
		border: 1px solid #f3f3f3;
		padding: 16px 0 0;
		cursor: pointer;
		margin-bottom: 8px;
		
		&.selected {
			background-color: #eff5f8;
			border: 1px solid #eff5f8;
			
			.icon-svg-arrRight {
				transform: rotate(-90deg);
			}
		}
	}
	
	.card_top-section {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
		padding: 0 16px;
		.time {
			color: #30302e;
			@extend %OsL;
			font-size: 13px;
		}
		.icon-svg-arrRight {
			width: 8px;
			height: 12px;
			fill: #c0c0c0;
			transform: rotate(90deg);
		}
	}
	
	.card_top-schemeMin {
		position: relative;
		padding: 0 16px;
		
		&:before {
			position: absolute;
			display: block;
			content: '';
			width: 2px;
			top: 5px;
			left: 19px;
			bottom: 5px;
			background-color: #016699;
		}
	}
	
	.card_top-schemeMin-item {
		display: flex;
		align-items: center;
		margin-bottom: 8px;
		
		&:last-of-type {
			margin-bottom: 0;
		}
		
		&:before {
			display: block;
			content: '';
			width: 8px;
			height: 8px;
			background-color: #016699;
			border-radius: 50%;
			margin-right: 6px;
		}
		
		.desc {
			color: #30302e;
			@extend %OsR;
			font-size: 13px;
			line-height: 16px;
		}
	}
	
	.card_scheme {
		margin: 23px 0;
		position: relative;
		padding: 0 16px;
		display: none;
		
		&:before {
			width: 2px;
			background-color: #016699;
			display: block;
			position: absolute;
			content: '';
			top: 16px;
			left: 35px;
			bottom: 16px;
			z-index: 0;
		}
	}
	
	.mapWiget_info-cardSimple {
		padding: 0 16px;
		margin: 15px 0;
	}
	
	.card_scheme-item, .mapWiget_info-cardSimple {
		display: flex;
		align-items: center;
		margin-bottom: 23px;
		
		.icon-svg-clock {
			width: 13px;
			height: 13px;
			fill: #c0c0c0;
			margin-right: 5px;
		}
		
		.event_img {
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 8px;
			position: relative;
			
		
		}
		
		.event_info {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
		
		.event_info-name {
			color: #30302e;
			@extend %OsSB;
			font-size: 14px;
			margin-bottom: 5px;
			
			&.__warrning {
				color: #e63636;
			}
		}
		
		.event_info-time {
			display: flex;
			align-items: center;
			
			span {
				color: #c0c0c0;
				@extend %OsSB;
				font-size: 13px;
			}
		}
		
		.event_img-item {
			border-radius: 50%;
			border: 1px solid transparent;
			background-color: #ffffff;
			position: relative;
			
			
			img {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			
			&.__big {
				width: 40px;
				height: 40px;
			}
			
			&.__small {
				width: 30px;
				height: 30px;
			}
			
			
			
			&.__borderBlue {
				border-color: #016699;
			}
			&.__borderRed {
				border-color: #e63636;
			}
		}
	}
	
	.event_ico {
		margin: 0 0 0 auto;
		width: 22px;
		height: 22px;
		svg {
			width: 22px;
			height: 22px;
			fill: #e7e7e7;
		}
	}
	
	.card_bottom{
		height: 28px;
		background-color: #016699;
		display: flex;
		align-items: center;
		padding: 0 16px;
		margin-top: 15px;
		
		span {
			display: flex;
			align-items: center;
			color: #ffffff;
			@extend %OsSB;
			font-size: 10px;
			line-height: 12px;
			white-space: nowrap;
			word-spacing: 0;
			letter-spacing: -.2px;
			
			&:after {
				display: inline-block;
				content: '';
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: #ffffff;
				margin: 0 4px;
			}
			
			&:last-of-type{
				&:after {
					display: none;
				}
			}
		}
	}
	
}