:host {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.app {
  display: flex;
  height: 100%;
  //background-color: #F9F9FA;
}

.pages {
  position: relative;
  flex: 1;
  overflow: hidden;
  &.__tint {
    &:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 100;
      background-color: #F9F9FA;
      opacity: .15;
    }
  }

}
