<div class="app">
  <app-side-bar></app-side-bar>
  <div class="pages" [class.__tint]="tint">
    <router-outlet></router-outlet>
  </div>
  <app-tooltip></app-tooltip>
  <app-preloader></app-preloader>
</div>


