<div class="box">
  <div class="top">
    <div class="container">
      <div class="top_left">
        <h1>{{pageTitle}}</h1>
        <app-spinner-btn [text]="btnText" (event)="addArticle()"></app-spinner-btn>
      </div>
      <div class="top_right">
        <div class="tabs" [class.__hide]="isCreate">
          <div class="__topBtn tab" *ngFor="let tab of tabs" [routerLink]="tab.link" routerLinkActive="__selected">{{tab.text}}</div>
        </div>
<!--        <div class="common">-->
<!--          <div class="common_left"></div>-->
<!--          <div class="common_right">-->
<!--            <div class="copyId __topBtn" *ngIf="!isCreate" (click)="copyText(articleId)">Copy ID</div>-->
<!--            <a [href]="'https://iod.media/article/' + slug" target="_blank"  *ngIf="!isCreate"  class="preview __topBtn">-->
<!--              <svg class="svg-eye">-->
<!--                <use xlink:href="#eye" xmlns:xlink="http://www.w3.org/1999/xlink"></use>-->
<!--              </svg>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
  <div class="content" [perfectScrollbar]="{}">
    <div class="container">
      <div class="tab_content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>


