:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  ::ng-deep {
    .cdk-overlay-pane {
      top: 54px !important;
    }
  }
  
}

.box {
  height: 100%;
  position: relative;
  //overflow: hidden;
  display: flex;
  padding-top: 60px;
  flex-direction: column;
}

.top_right {
  justify-content: space-between;
  flex: 1;
}

.tabs {
  display: flex;
  margin-left: 46px;
  
  &.__hide {
    .tab {
      &:nth-of-type(1) {
        border-radius: 4px;
      }
      &:nth-of-type(2),
      &:nth-of-type(3){
        display: none;
      }
    }
    
  }
  .tab {
    border-radius: 0;
    
    &.__hide {
      display: none;
    }
    &:first-of-type {
      border-radius: 4px 0 0 4px;
      margin-right: 2px;
    }
    &:last-of-type {
      border-radius: 0 4px 4px 0;
      margin-left: 2px;
    }
    
    &.__selected {
      background-color: #0D5CD1;
      pointer-events: none;
    }
  }
}

.preview {
  margin-left: 18px;
  padding: 0 9px;
  svg {
    width: 17px;
    height: 11px;
    fill: #fff;
  }
}

.common {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  .common_left, .common_right {
    display: flex;
    align-items: center;
  }
}

.editingPanel {
  margin-left: 20px;
  display: flex;
  align-items: center;
  .editingPanel_item {
    margin: 0 8px;
    padding: 5px;
    cursor: pointer;
    &:hover, &.__selected {
      svg {
        fill: #1C1D1F;
      }
    }
  }
  
  svg {
    fill: #B2B7BF;
    transition: fill .1s ease-in-out;
  }
  
  .svg-linkurl {
    width: 18px;
    height: 18px;
  }
  .svg-bold {
    width: 12px;
    height: 14px;
  }
  .svg-tooltip {
    width: 23px;
    height: 20px;
  }
  .svg-backcolor {
    width: 26px;
    height: 17px;
  }
  
}
.content {
  
  //height: 100%;
  //flex: 1;
  overflow: hidden;
  display: block;
  padding-bottom: 30px;
  position: relative;
  //padding-bottom: 30px;
  .container {
    align-items: flex-start;
    position: relative;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 30px;
    
    //padding-bottom: 30px;
  }
}
//.content {
//  position: relative;
//  height: 100%;
//  overflow: hidden;
//  //padding-bottom: 30px;
//  padding-top: 60px;
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-start;
//  align-items: flex-start;
//  .container {
//    align-items: flex-start;
//    position: relative;
//    height: 100%;
//    overflow: hidden;
//    display: flex;
//    flex-direction: column;
//    justify-content: flex-start;
//    align-items: flex-start;
//    padding-top: 30px;
//    padding-bottom: 30px;
//  }
//}

.tab_content {
  width: 100%;
  height: 100%;
}






